@use 'sass:math';

.page-template-about-us-template {
  .breadcrumb {
    .bg {
      display: block;
      position: absolute;
      right: 0;
      margin-top: -133px;

      width: calc(#{math.div(402px, $base-width) * 100} * 1vw);
      height: calc(#{math.div(269px, $base-width) * 100} * 1vw);

      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg width='402' height='269' viewBox='0 0 402 269' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M201.335 263.506C149.209 263.506 100.232 243.205 63.382 206.355C26.532 169.505 6.164 120.461 6.164 68.3349C6.164 16.2089 26.465 -32.7681 63.315 -69.6181C100.165 -106.468 149.209 -126.836 201.335 -126.836C253.461 -126.836 302.438 -106.535 339.288 -69.6851C376.138 -32.8351 396.439 16.1419 396.439 68.2679C396.439 120.394 376.138 169.371 339.288 206.221C302.438 243.071 253.461 263.372 201.335 263.372V263.506ZM201.335 -124.424C95.006 -124.424 8.576 -37.9941 8.576 68.3349C8.576 174.664 95.073 261.161 201.402 261.161C307.731 261.161 394.228 174.664 394.228 68.3349C394.228 -37.9941 307.664 -124.424 201.335 -124.424Z' fill='%23FF8549'/%3E%3Cpath d='M201.335 230.81C111.756 230.81 38.86 157.914 38.86 68.335C38.86 -21.244 111.756 -94.14 201.335 -94.14C290.914 -94.14 363.81 -21.244 363.81 68.335C363.81 157.914 290.914 230.81 201.335 230.81ZM201.335 -91.795C113.029 -91.795 41.205 -19.971 41.205 68.335C41.205 156.641 113.029 228.465 201.335 228.465C289.641 228.465 361.465 156.641 361.465 68.335C361.465 -19.971 289.641 -91.795 201.335 -91.795Z' fill='%23FF8549'/%3E%3Cpath d='M201.335 198.114C129.779 198.114 71.556 139.891 71.556 68.335C71.556 -3.22097 129.779 -61.444 201.335 -61.444C272.891 -61.444 331.114 -3.22097 331.114 68.335C331.114 139.891 272.891 198.114 201.335 198.114ZM201.335 -59.099C131.052 -59.099 73.901 -1.94797 73.901 68.335C73.901 138.618 131.052 195.769 201.335 195.769C271.618 195.769 328.769 138.618 328.769 68.335C328.769 -1.94797 271.618 -59.099 201.335 -59.099Z' fill='%23FF8549'/%3E%3Cpath d='M201.335 165.418C147.802 165.418 104.252 121.868 104.252 68.3349C104.252 14.8019 147.802 -28.748 201.335 -28.748C254.868 -28.748 298.418 14.8019 298.418 68.3349C298.418 121.868 254.868 165.418 201.335 165.418ZM201.335 -26.403C149.075 -26.403 106.597 16.0749 106.597 68.3349C106.597 120.595 149.075 163.073 201.335 163.073C253.595 163.073 296.073 120.595 296.073 68.3349C296.073 16.0749 253.595 -26.403 201.335 -26.403Z' fill='%23FF8549'/%3E%3Cpath d='M201.335 132.722C165.825 132.722 136.948 103.845 136.948 68.335C136.948 32.825 165.825 3.948 201.335 3.948C236.845 3.948 265.722 32.825 265.722 68.335C265.722 103.845 236.845 132.722 201.335 132.722ZM201.335 6.293C167.098 6.293 139.293 34.165 139.293 68.335C139.293 102.505 167.165 130.377 201.335 130.377C235.505 130.377 263.377 102.505 263.377 68.335C263.377 34.165 235.505 6.293 201.335 6.293Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");

      z-index: -1;
  
      @media (max-width: $mobile) {
        width: 81px;
        min-height: 147px;
        margin-top: -99px;

        background-image: url("data:image/svg+xml,%3Csvg width='81' height='147' viewBox='0 0 81 147' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M73.6225 144.991C54.5615 144.991 36.652 137.568 23.177 124.093C9.70203 110.618 2.25403 92.6835 2.25403 73.6225C2.25403 54.5615 9.67753 36.652 23.1525 23.177C36.6275 9.70203 54.5615 2.25403 73.6225 2.25403C92.6835 2.25403 110.593 9.67753 124.068 23.1525C137.543 36.6275 144.967 54.537 144.967 73.598C144.967 92.659 137.543 110.569 124.068 124.044C110.593 137.519 92.6835 144.942 73.6225 144.942V144.991ZM73.6225 3.13603C34.741 3.13603 3.13603 34.741 3.13603 73.6225C3.13603 112.504 34.7655 144.134 73.647 144.134C112.529 144.134 144.158 112.504 144.158 73.6225C144.158 34.741 112.504 3.13603 73.6225 3.13603Z' fill='%23FF8549'/%3E%3Cpath d='M73.6225 133.035C40.866 133.035 14.21 106.379 14.21 73.6225C14.21 40.866 40.866 14.21 73.6225 14.21C106.379 14.21 133.035 40.866 133.035 73.6225C133.035 106.379 106.379 133.035 73.6225 133.035ZM73.6225 15.0675C41.3315 15.0675 15.0675 41.3315 15.0675 73.6225C15.0675 105.913 41.3315 132.177 73.6225 132.177C105.913 132.177 132.177 105.913 132.177 73.6225C132.177 41.3315 105.913 15.0675 73.6225 15.0675Z' fill='%23FF8549'/%3E%3Cpath d='M73.6225 121.079C47.4565 121.079 26.166 99.7885 26.166 73.6225C26.166 47.4565 47.4565 26.166 73.6225 26.166C99.7885 26.166 121.079 47.4565 121.079 73.6225C121.079 99.7885 99.7885 121.079 73.6225 121.079ZM73.6225 27.0235C47.922 27.0235 27.0235 47.922 27.0235 73.6225C27.0235 99.323 47.922 120.222 73.6225 120.222C99.323 120.222 120.222 99.323 120.222 73.6225C120.222 47.922 99.323 27.0235 73.6225 27.0235Z' fill='%23FF8549'/%3E%3Cpath d='M73.6224 109.123C54.0469 109.123 38.1219 93.1979 38.1219 73.6224C38.1219 54.0469 54.0469 38.1219 73.6224 38.1219C93.1979 38.1219 109.123 54.0469 109.123 73.6224C109.123 93.1979 93.1979 109.123 73.6224 109.123ZM73.6224 38.9794C54.5124 38.9794 38.9794 54.5124 38.9794 73.6224C38.9794 92.7324 54.5124 108.265 73.6224 108.265C92.7324 108.265 108.265 92.7324 108.265 73.6224C108.265 54.5124 92.7324 38.9794 73.6224 38.9794Z' fill='%23FF8549'/%3E%3Cpath d='M73.6225 97.167C60.6375 97.167 50.078 86.6075 50.078 73.6225C50.078 60.6375 60.6375 50.078 73.6225 50.078C86.6075 50.078 97.167 60.6375 97.167 73.6225C97.167 86.6075 86.6075 97.167 73.6225 97.167ZM73.6225 50.9355C61.103 50.9355 50.9355 61.1275 50.9355 73.6225C50.9355 86.1175 61.1275 96.3095 73.6225 96.3095C86.1175 96.3095 96.3095 86.1175 96.3095 73.6225C96.3095 61.1275 86.1175 50.9355 73.6225 50.9355Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");      
      }
    }
  }

  #nossa_missao {

    .nossa-missao-container {
      padding: 0px 95px;

      @media (max-width: $mobile) {
        padding: 0px;
      }

      .nossa-missao-item {
        display: flex;
        align-items: center;

        margin-bottom: 48px;

        @media (max-width: $mobile) {
          flex-direction: column;
          align-items: start;
        }

        .titile {
          margin-right: 50px;
          min-width: 118px;

          &:last-child {
            margin-right: 0px;
          }

          @media (max-width: $mobile) {
            h2 {
              display: none;
            }
          }
        }

        h2 {
          font-weight: 700;
          font-size: px-to-rem(32px);
          line-height: 39px;
          color: $green-dark;
        }

        .content,
        .content p {
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: $black;

          @media (max-width: $mobile) {
            font-size: px-to-rem(16px);
            line-height: 150%;
          }
        }

        .nossa-missao-icone {
          min-width: 109px;
          height: 109px;
          display: block;
          margin-right: 26px;

          &:last-child {
            margin-right: 0px;
          }

          h2 {
            display: none;
          }

          @media (max-width: $mobile) {
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            width: 100%;

            margin-bottom: 16px;

            h2 {
              display: block;
              margin-left: 130px;

              font-size: px-to-rem(20px);
              line-height: 24px;
            }
          }
        }

      }


    }
  }

  #equipe {
    margin-top: 77px;

    @media (max-width: $mobile) {
      margin-top: 35px;
    }

    .bg {
      display: block;
      position: absolute;
      width: 266px;
      height: 200px;
      margin-top: -54px;
      @media (min-width: $desktop) {
        background-image: url("data:image/svg+xml,%3Csvg width='266' height='200' viewBox='0 0 266 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-116.49 98.9277C-116.96 98.9277 -117.429 98.7413 -117.805 98.3683L-188.459 28.1585L-259.207 98.3683C-259.865 99.021 -261.086 99.021 -261.838 98.3683L-333.901 26.8531C-334.653 26.1072 -334.653 24.9883 -333.901 24.2424C-333.149 23.4965 -332.022 23.4965 -331.27 24.2424L-260.522 94.4522L-189.774 24.2424C-189.399 23.8695 -188.929 23.683 -188.459 23.683C-187.989 23.683 -187.52 23.8695 -187.144 24.2424L-116.49 94.4522L-46.2116 24.2424C-45.8358 23.8695 -45.366 23.683 -44.8962 23.683C-44.4265 23.683 -43.9567 23.8695 -43.5809 24.2424L27.167 94.4522L97.9149 24.2424C98.5726 23.5897 99.794 23.5897 100.546 24.2424L171.294 94.4522L242.042 24.2424C242.793 23.4965 243.921 23.4965 244.672 24.2424C245.424 24.9883 245.424 26.1072 244.672 26.8531L172.609 98.3683C171.857 99.1142 170.73 99.1142 169.978 98.3683L99.2303 28.1585L28.4824 98.3683C27.8247 99.021 26.6033 99.021 25.8517 98.3683L-44.8962 28.1585L-115.174 98.3683C-115.55 98.7413 -116.02 98.9277 -116.49 98.9277Z' fill='%23FF8549'/%3E%3Cpath d='M-116.49 176.131C-116.96 176.131 -117.429 175.944 -117.805 175.571L-188.459 105.361L-259.207 175.571C-259.865 176.224 -261.086 176.224 -261.838 175.571L-333.901 104.056C-334.653 103.31 -334.653 102.191 -333.901 101.445C-333.149 100.699 -332.022 100.699 -331.27 101.445L-260.522 171.655L-189.774 101.445C-189.399 101.072 -188.929 100.886 -188.459 100.886C-187.989 100.886 -187.52 101.072 -187.144 101.445L-116.49 171.655L-46.2116 101.445C-45.8358 101.072 -45.366 100.886 -44.8962 100.886C-44.4265 100.886 -43.9567 101.072 -43.5809 101.445L27.167 171.655L97.9149 101.445C98.5726 100.793 99.794 100.793 100.546 101.445L171.294 171.655L242.042 101.445C242.793 100.699 243.921 100.699 244.672 101.445C245.424 102.191 245.424 103.31 244.672 104.056L172.609 175.571C171.857 176.317 170.73 176.317 169.978 175.571L99.2303 105.361L28.4824 175.571C27.8247 176.224 26.6033 176.224 25.8517 175.571L-44.8962 105.361L-115.174 175.571C-115.55 175.944 -116.02 176.131 -116.49 176.131Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      }
    }

    .foto-equipe {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  #governanca {
    margin-top: 48px;

    h2 {
      font-weight: 700;
      font-size: px-to-rem(52px);
      line-height: 63px;
      color: $green-dark;

      @media (max-width: $mobile) {
        font-size: px-to-rem(28px);
        line-height: 34px;
      }
    }

    h3 {
      font-weight: 600;
      font-size: px-to-rem(40px);
      line-height: 49px;
      color: $green-contrast;

      border-bottom: 2px solid $green-contrast;

      margin: 53px 0px 38px 0px;

      @media (max-width: $mobile) {
        font-size: px-to-rem(22px);
        line-height: 27px;

        margin: 33px 0px 7px 0px;
      }

    }

    #conselho {
      display: flex;
      gap: 24px;
      justify-content: center;
      align-items: center;

      @media (max-width: $mobile) {
        flex-direction: column;
        gap: 0px;
      }

      .conselho-item {
        padding: 32px;

        .conselho-header {
          text-align: center;
        }

        .funcao {
          font-weight: 400;
          font-size: px-to-rem(18px);
          line-height: 150%;
          color: $black;

          margin: 24px 0 4px 0;

          @media (max-width: $mobile) {
            font-size: px-to-rem(16px);
            line-height: 150%
          }
        }

        .nome-completo {
          font-weight: 700;
          font-size: px-to-rem(24px);
          line-height: 150%;
          color: $black;

          @media (max-width: $mobile) {
            font-size: px-to-rem(18px);
            line-height: 150%
          }
        }
      }
    }

    #equipe_list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      justify-content: center;
      align-items: center;

      @media (max-width: $mobile) {
        grid-template-columns: 1fr;

        margin-top: 17px;
      }

      .equipe-item {

        .funcao {
          font-weight: 400;
          font-size: px-to-rem(18px);
          line-height: 150%;
          color: $black;

          @media (max-width: $mobile) {
            font-size: px-to-rem(16px);
            line-height: 150%
          }

        }

        .nome-completo {
          font-weight: 700;
          font-size: px-to-rem(24px);
          line-height: 150%;
          color: $black;

          margin-bottom: 4px;

          @media (max-width: $mobile) {
            font-size: px-to-rem(18px);
            line-height: 150%
          }
        }
      }
    }

  }

  #organograma {
    margin-top: 76px;

    @media (max-width: $mobile) {
      margin-top: 24px;
    }

    .imagem-organograma {
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .bg {
      display: block;
      position: absolute;
      right: 0px;

      width: 89px;
      height: 577px;

      margin-top: -207px;
      @media (min-width: $desktop) {
        background-image: url("data:image/svg+xml,%3Csvg width='89' height='577' viewBox='0 0 89 577' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5859 10.0159L171.966 169.15' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 38.1349L171.966 197.269' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 66.2539L171.966 225.45' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 94.4352L171.966 253.569' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 122.554L171.966 281.688' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 150.673L171.966 309.807' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 178.792L171.966 337.988' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 206.974L171.966 366.107' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 235.093L171.966 394.226' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 263.212L171.966 422.408' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 291.331L171.966 450.527' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 319.512L171.966 478.646' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 347.631L171.966 506.765' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 375.75L171.966 534.946' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5859 403.869L171.966 563.065' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");      }
    }
  }

  #video {
    margin-bottom: 81px;

    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }

    .video-embled {
      display: flex;
      justify-content: center;

      iframe {
        min-width: 925px;

        @media (max-width: $mobile) {
          min-width: 327.13px;
          max-height: 134px;
        }
      }
    }

    .bg {
      display: block;
      position: absolute;
      left: 0px;
      margin-top: -316px;

      width: calc(#{math.div(306px, $base-width) * 100} * 1vw);
      height: calc(#{math.div(470px, $base-width) * 100} * 1vw);

      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;

      @media (min-width: $desktop) {
        background-image: url("data:image/svg+xml,%3Csvg width='306' height='470' viewBox='0 0 306 470' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M158.185 445.403C157.793 445.403 157.402 445.247 157.088 444.933C156.462 444.307 156.462 443.367 157.088 442.74L278.74 321.088C279.367 320.462 280.307 320.462 280.933 321.088C281.56 321.715 281.56 322.655 280.933 323.282L159.282 444.933C158.968 445.247 158.577 445.403 158.185 445.403Z' fill='%2300D176'/%3E%3Cpath d='M96.38 461.383C95.9883 461.383 95.5967 461.227 95.2833 460.913C94.6567 460.287 94.6567 459.347 95.2833 458.72L294.72 259.283C295.347 258.657 296.287 258.657 296.913 259.283C297.54 259.91 297.54 260.85 296.913 261.477L97.4766 460.913C97.1633 461.227 96.7717 461.383 96.38 461.383Z' fill='%2300D176'/%3E%3Cpath d='M50.085 461.775C49.6933 461.775 49.3016 461.618 48.9883 461.305C48.3616 460.678 48.3616 459.738 48.9883 459.112L295.112 212.988C295.738 212.362 296.678 212.362 297.305 212.988C297.932 213.615 297.932 214.555 297.305 215.182L51.1817 461.305C50.8683 461.618 50.4766 461.775 50.085 461.775Z' fill='%2300D176'/%3E%3Cpath d='M11.2316 454.725C10.84 454.725 10.4483 454.568 10.135 454.255C9.50831 453.628 9.50831 452.688 10.135 452.062L288.062 174.135C288.688 173.508 289.628 173.508 290.255 174.135C290.882 174.762 290.882 175.702 290.255 176.328L12.3283 454.255C12.015 454.568 11.6233 454.725 11.2316 454.725Z' fill='%2300D176'/%3E%3Cpath d='M-22.4516 442.505C-22.8433 442.505 -23.235 442.348 -23.5483 442.035C-24.175 441.408 -24.175 440.468 -23.5483 439.842L275.842 140.452C276.468 139.825 277.408 139.825 278.035 140.452C278.662 141.078 278.662 142.018 278.035 142.645L-21.355 442.035C-21.6683 442.348 -22.06 442.505 -22.4516 442.505Z' fill='%2300D176'/%3E%3Cpath d='M-51.9833 426.212C-52.375 426.212 -52.7667 426.055 -53.08 425.742C-53.7067 425.115 -53.7067 424.175 -53.08 423.548L259.548 110.92C260.175 110.293 261.115 110.293 261.742 110.92C262.368 111.547 262.368 112.487 261.742 113.113L-50.8867 425.742C-51.2 426.055 -51.5917 426.212 -51.9833 426.212Z' fill='%2300D176'/%3E%3Cpath d='M-78.0683 406.393C-78.46 406.393 -78.8517 406.237 -79.165 405.923C-79.7917 405.297 -79.7917 404.357 -79.165 403.73L239.73 84.835C240.357 84.2083 241.297 84.2083 241.923 84.835C242.55 85.4617 242.55 86.4017 241.923 87.0283L-76.9717 405.923C-77.285 406.237 -77.6767 406.393 -78.0683 406.393Z' fill='%2300D176'/%3E%3Cpath d='M-100.863 383.285C-101.255 383.285 -101.647 383.128 -101.96 382.815C-102.587 382.188 -102.587 381.248 -101.96 380.622L216.622 62.0399C217.248 61.4133 218.188 61.4133 218.815 62.0399C219.442 62.6666 219.442 63.6066 218.815 64.2333L-99.7667 382.815C-100.08 383.128 -100.472 383.285 -100.863 383.285Z' fill='%2300D176'/%3E%3Cpath d='M-120.29 356.887C-120.682 356.887 -121.073 356.73 -121.387 356.417C-122.013 355.79 -122.013 354.85 -121.387 354.223L190.223 42.6133C190.85 41.9866 191.79 41.9866 192.417 42.6133C193.043 43.24 193.043 44.18 192.417 44.8066L-119.193 356.417C-119.507 356.73 -119.898 356.887 -120.29 356.887Z' fill='%2300D176'/%3E%3Cpath d='M-136.113 326.807C-136.505 326.807 -136.897 326.65 -137.21 326.337C-137.837 325.71 -137.837 324.77 -137.21 324.143L160.143 26.7899C160.77 26.1633 161.71 26.1633 162.337 26.7899C162.963 27.4166 162.963 28.3566 162.337 28.9833L-135.017 326.337C-135.33 326.65 -135.722 326.807 -136.113 326.807Z' fill='%2300D176'/%3E%3Cpath d='M-147.785 292.653C-148.177 292.653 -148.568 292.497 -148.882 292.183C-149.508 291.557 -149.508 290.617 -148.882 289.99L125.99 15.1183C126.617 14.4916 127.557 14.4916 128.183 15.1183C128.81 15.745 128.81 16.685 128.183 17.3116L-146.688 292.183C-147.002 292.497 -147.393 292.653 -147.785 292.653Z' fill='%2300D176'/%3E%3Cpath d='M-154.208 253.173C-154.6 253.173 -154.992 253.017 -155.305 252.703C-155.932 252.077 -155.932 251.137 -155.305 250.51L86.5099 8.69498C87.1366 8.06831 88.0766 8.06831 88.7033 8.69498C89.33 9.32164 89.33 10.2616 88.7033 10.8883L-153.112 252.703C-153.425 253.017 -153.817 253.173 -154.208 253.173Z' fill='%2300D176'/%3E%3Cpath d='M-152.72 205.782C-153.112 205.782 -153.503 205.625 -153.817 205.312C-154.443 204.685 -154.443 203.745 -153.817 203.118L39.1183 10.1834C39.745 9.55671 40.685 9.55671 41.3116 10.1834C41.9383 10.81 41.9383 11.75 41.3116 12.3767L-151.623 205.312C-151.937 205.625 -152.328 205.782 -152.72 205.782Z' fill='%2300D176'/%3E%3C/svg%3E%0A");    
      }

      @media (max-width: $mobile) {
        width: 101px;
        height: 213px;
        margin-top: -202px;

        background-image: url("data:image/svg+xml,%3Csvg width='101' height='213' viewBox='0 0 101 213' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.0115 201.853C33.834 201.853 33.6565 201.782 33.5145 201.64C33.2305 201.356 33.2305 200.93 33.5145 200.646L88.646 145.515C88.93 145.231 89.356 145.231 89.64 145.515C89.924 145.799 89.924 146.225 89.64 146.509L34.5085 201.64C34.3665 201.782 34.189 201.853 34.0115 201.853Z' fill='%2300D176'/%3E%3Cpath d='M6.00199 209.095C5.82449 209.095 5.64699 209.024 5.50499 208.882C5.22099 208.598 5.22099 208.172 5.50499 207.888L95.888 117.505C96.172 117.221 96.598 117.221 96.882 117.505C97.166 117.789 97.166 118.215 96.882 118.499L6.49899 208.882C6.35699 209.024 6.17949 209.095 6.00199 209.095Z' fill='%2300D176'/%3E%3Cpath d='M-14.9785 209.273C-15.156 209.273 -15.3335 209.202 -15.4755 209.06C-15.7595 208.776 -15.7595 208.35 -15.4755 208.066L96.0655 96.5245C96.3495 96.2405 96.7755 96.2405 97.0595 96.5245C97.3435 96.8085 97.3435 97.2345 97.0595 97.5185L-14.4815 209.06C-14.6235 209.202 -14.801 209.273 -14.9785 209.273Z' fill='%2300D176'/%3E%3Cpath d='M-32.5864 206.078C-32.7639 206.078 -32.9414 206.007 -33.0834 205.865C-33.3674 205.581 -33.3674 205.155 -33.0834 204.871L92.8706 78.9166C93.1546 78.6326 93.5806 78.6326 93.8646 78.9166C94.1486 79.2006 94.1486 79.6266 93.8646 79.9106L-32.0894 205.865C-32.2314 206.007 -32.4089 206.078 -32.5864 206.078Z' fill='%2300D176'/%3E%3Cpath d='M-47.8515 200.539C-48.029 200.539 -48.2065 200.468 -48.3485 200.326C-48.6325 200.042 -48.6325 199.616 -48.3485 199.332L87.3325 63.6515C87.6165 63.3675 88.0424 63.3675 88.3264 63.6515C88.6105 63.9355 88.6105 64.3615 88.3264 64.6455L-47.3545 200.326C-47.4965 200.468 -47.674 200.539 -47.8515 200.539Z' fill='%2300D176'/%3E%3Cpath d='M-61.2351 193.155C-61.4126 193.155 -61.5901 193.084 -61.7321 192.942C-62.0161 192.658 -62.0161 192.232 -61.7321 191.948L79.9484 50.2679C80.2324 49.9839 80.6584 49.9839 80.9424 50.2679C81.2264 50.5519 81.2264 50.9779 80.9424 51.2619L-60.7381 192.942C-60.8801 193.084 -61.0576 193.155 -61.2351 193.155Z' fill='%2300D176'/%3E%3Cpath d='M-73.0566 184.174C-73.2341 184.174 -73.4116 184.103 -73.5536 183.961C-73.8376 183.677 -73.8376 183.251 -73.5536 182.967L70.9669 38.4464C71.2509 38.1624 71.6769 38.1624 71.9609 38.4464C72.2449 38.7304 72.2449 39.1564 71.9609 39.4404L-72.5596 183.961C-72.7016 184.103 -72.8791 184.174 -73.0566 184.174Z' fill='%2300D176'/%3E%3Cpath d='M-83.3869 173.702C-83.5644 173.702 -83.7419 173.631 -83.8839 173.489C-84.1679 173.205 -84.1679 172.779 -83.8839 172.495L60.4946 28.1161C60.7786 27.8321 61.2046 27.8321 61.4886 28.1161C61.7726 28.4001 61.7726 28.8261 61.4886 29.1101L-82.8899 173.489C-83.0319 173.631 -83.2094 173.702 -83.3869 173.702Z' fill='%2300D176'/%3E%3Cpath d='M-92.1909 161.738C-92.3684 161.738 -92.5459 161.667 -92.6879 161.525C-92.9719 161.241 -92.9719 160.815 -92.6879 160.531L48.5311 19.3121C48.8151 19.0281 49.2411 19.0281 49.5251 19.3121C49.8091 19.5961 49.8091 20.0221 49.5251 20.3061L-91.6939 161.525C-91.8359 161.667 -92.0134 161.738 -92.1909 161.738Z' fill='%2300D176'/%3E%3Cpath d='M-99.362 148.106C-99.5395 148.106 -99.717 148.035 -99.859 147.893C-100.143 147.609 -100.143 147.183 -99.859 146.899L34.899 12.141C35.183 11.857 35.609 11.857 35.893 12.141C36.177 12.425 36.177 12.851 35.893 13.135L-98.865 147.893C-99.007 148.035 -99.1845 148.106 -99.362 148.106Z' fill='%2300D176'/%3E%3Cpath d='M-104.652 132.628C-104.829 132.628 -105.007 132.557 -105.149 132.415C-105.433 132.131 -105.433 131.705 -105.149 131.421L19.4209 6.85143C19.7049 6.56743 20.1309 6.56743 20.4149 6.85143C20.6989 7.13543 20.6989 7.56143 20.4149 7.84543L-104.155 132.415C-104.297 132.557 -104.474 132.628 -104.652 132.628Z' fill='%2300D176'/%3E%3Cpath d='M-107.562 114.736C-107.74 114.736 -107.917 114.665 -108.059 114.523C-108.343 114.239 -108.343 113.813 -108.059 113.529L1.52902 3.94054C1.81302 3.65654 2.23903 3.65654 2.52303 3.94054C2.80703 4.22454 2.80703 4.65054 2.52303 4.93454L-107.065 114.523C-107.207 114.665 -107.385 114.736 -107.562 114.736Z' fill='%2300D176'/%3E%3C/svg%3E%0A");
      }
    } 
  }

  .bg-footer {
    display: block;
    position: absolute;
    right: 0px;
    
    width: 377px;
    height: 200px;

    margin-top: -247px;
    background-repeat: no-repeat;
    z-index: -1;

    @media (min-width: $desktop) {
      background-image: url("data:image/svg+xml,%3Csvg width='377' height='200' viewBox='0 0 377 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M248.51 98.9279C248.04 98.9279 247.571 98.7414 247.195 98.3684L176.541 28.1586L105.793 98.3684C105.135 99.0211 103.914 99.0211 103.162 98.3684L31.099 26.8533C30.3474 26.1073 30.3474 24.9885 31.099 24.2425C31.8506 23.4966 32.9781 23.4966 33.7297 24.2425L104.478 94.4523L175.226 24.2425C175.601 23.8696 176.071 23.6831 176.541 23.6831C177.011 23.6831 177.48 23.8696 177.856 24.2425L248.51 94.4523L318.788 24.2425C319.164 23.8696 319.634 23.6831 320.104 23.6831C320.574 23.6831 321.043 23.8696 321.419 24.2425L392.167 94.4523L462.915 24.2425C463.573 23.5899 464.794 23.5899 465.546 24.2425L536.294 94.4523L607.042 24.2425C607.793 23.4966 608.921 23.4966 609.672 24.2425C610.424 24.9885 610.424 26.1073 609.672 26.8533L537.609 98.3684C536.857 99.1143 535.73 99.1143 534.978 98.3684L464.23 28.1586L393.482 98.3684C392.825 99.0211 391.603 99.0211 390.852 98.3684L320.104 28.1586L249.826 98.3684C249.45 98.7414 248.98 98.9279 248.51 98.9279Z' fill='%23FF8549'/%3E%3Cpath d='M248.51 176.13C248.04 176.13 247.571 175.944 247.195 175.571L176.541 105.361L105.793 175.571C105.135 176.224 103.914 176.224 103.162 175.571L31.099 104.056C30.3474 103.31 30.3474 102.191 31.099 101.445C31.8506 100.699 32.9781 100.699 33.7297 101.445L104.478 171.655L175.226 101.445C175.601 101.072 176.071 100.886 176.541 100.886C177.011 100.886 177.48 101.072 177.856 101.445L248.51 171.655L318.788 101.445C319.164 101.072 319.634 100.886 320.104 100.886C320.574 100.886 321.043 101.072 321.419 101.445L392.167 171.655L462.915 101.445C463.573 100.793 464.794 100.793 465.546 101.445L536.294 171.655L607.042 101.445C607.793 100.699 608.921 100.699 609.672 101.445C610.424 102.191 610.424 103.31 609.672 104.056L537.609 175.571C536.857 176.317 535.73 176.317 534.978 175.571L464.23 105.361L393.482 175.571C392.825 176.224 391.603 176.224 390.852 175.571L320.104 105.361L249.826 175.571C249.45 175.944 248.98 176.13 248.51 176.13Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
    }

    @media (max-width: $mobile) {
      width: 131px;
      height: 101px;
      margin-top: -64px;

      background-image: url("data:image/svg+xml,%3Csvg width='131' height='101' viewBox='0 0 131 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.387 12.9016L52.8183 49.0168L89.2497 12.9016L125.634 49.0168L161.827 12.9016L198.259 49.0168L234.69 12.9016L271.121 49.0168L307.553 12.9016' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.387 51.8892L52.8183 88.0043L89.2497 51.8892L125.634 88.0043L161.827 51.8892L198.259 88.0043L234.69 51.8892L271.121 88.0043L307.553 51.8892' stroke='%23FF8549' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  .separator {
    margin: 37px 0px 47px 0px;
    display: block;
    width: 100%;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='98' height='24' viewBox='0 0 98 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='85.0435' cy='12' r='12' fill='%23024420'/%3E%3Ccircle cx='48.5218' cy='12' r='12' fill='%2300D176'/%3E%3Ccircle cx='12' cy='12' r='12' fill='%23FF8549'/%3E%3C/svg%3E%0A");
  
    @media (max-width: $mobile) {
      margin: 17px 0px 23px 0px;
      background-image: url("data:image/svg+xml,%3Csvg width='65' height='16' viewBox='0 0 65 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='56.6956' cy='8' rx='8' ry='8' fill='%23024420'/%3E%3Cellipse cx='32.3479' cy='8' rx='8' ry='8' fill='%2300D176'/%3E%3Cellipse cx='8' cy='8' rx='8' ry='8' fill='%23FF8549'/%3E%3C/svg%3E%0A");
    }
  }
}