.icon-list {
  display: flex;
  gap: 24px;
  width: 100%;

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  .icon-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    margin-top: 49px;

    background-color: #FFF;
    border-radius: 24px;

    .icon-header {
      width: 112px;
      height: 112px;
      margin-top: -49px;

      @media (max-width: $mobile) {
        width: 92px;
        height: 92px;
        background-size: contain;
      }
    }

    .title {
      font-weight: 700;
      font-size: px-to-rem(32px);
      line-height: 39px;
      color: #024420;
      margin-bottom: 10px;
      margin-top: 18px;

      @media (max-width: $mobile) {
        font-size: px-to-rem(24px);
        line-height: 29px;
      }
    }

    .content {
      font-weight: 400;
      font-size: px-to-rem(18px);
      line-height: 150%;
      color: #000000;
      padding: 0px 90px;
      margin-bottom: 29px;

      @media (max-width: $mobile) {
        font-size: px-to-rem(16px);
        line-height: 150%;
        padding: 0px 50px;
        margin-bottom: 17px;
      }
    }
  }
}

.breadcrumb {
  margin: 37px 0px 75px 0px;

  @media (max-width: $mobile) {
    margin: 26px 0px 47px 0px;
  }

  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline;
      margin-right: 5px;

      a {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #024420;
        text-decoration: none;

        @media (max-width: $mobile) {
          font-size: px-to-rem(14px);
          line-height: 21px;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      &::after {
        content: '>';
        margin-left: 5px;

        font-family: 'Poppins';
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #024420;

        @media (max-width: $mobile) {
          font-size: px-to-rem(14px);
          line-height: 21px;
        }
      }

      &:last-child::after {
        content: '';
      }

      &[aria-current="page"] {
        font-family: 'Dela Gothic One';
        font-weight: 400;
        font-size: px-to-rem(64px);
        line-height: 93px;
        color: #024420;

        text-decoration: none;
        display: block;

        @media (max-width: $mobile) {
          font-size: px-to-rem(32px);
          line-height: 130%;
        }
      }
    }
  }

}