@use 'sass:math';

.page-template-contact-tempalte {
  .breadcrumb {
    .bg {
      display: block;
      position: absolute;
      right: 0;

      width: calc(#{math.div(356px, $base-width) * 100} * 1vw);
      height: calc(#{math.div(176px, $base-width) * 100} * 1vw);

      background-image: url("data:image/svg+xml,%3Csvg width='356' height='176' viewBox='0 0 356 176' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M218.579 87.0565C218.165 87.0565 217.752 86.8924 217.422 86.5641L155.278 24.7795L93.0508 86.5641C92.4724 87.1385 91.3981 87.1385 90.737 86.5641L27.3533 23.6308C26.6921 22.9744 26.6921 21.9898 27.3533 21.3334C28.0144 20.677 29.006 20.677 29.6671 21.3334L91.8939 83.118L154.121 21.3334C154.451 21.0052 154.864 20.8411 155.278 20.8411C155.691 20.8411 156.104 21.0052 156.435 21.3334L218.579 83.118L280.392 21.3334C280.723 21.0052 281.136 20.8411 281.549 20.8411C281.962 20.8411 282.376 21.0052 282.706 21.3334L344.933 83.118L407.16 21.3334C407.738 20.759 408.812 20.759 409.474 21.3334L471.7 83.118L533.927 21.3334C534.588 20.677 535.58 20.677 536.241 21.3334C536.902 21.9898 536.902 22.9744 536.241 23.6308L472.857 86.5641C472.196 87.2206 471.205 87.2206 470.543 86.5641L408.317 24.7795L346.09 86.5641C345.511 87.1385 344.437 87.1385 343.776 86.5641L281.549 24.7795L219.736 86.5641C219.405 86.8924 218.992 87.0565 218.579 87.0565Z' fill='%23FF8549'/%3E%3Cpath d='M218.579 154.995C218.165 154.995 217.752 154.831 217.422 154.503L155.278 92.718L93.0508 154.503C92.4724 155.077 91.3981 155.077 90.737 154.503L27.3533 91.5693C26.6921 90.9129 26.6921 89.9283 27.3533 89.2719C28.0144 88.6154 29.006 88.6154 29.6671 89.2719L91.8939 151.056L154.121 89.2719C154.451 88.9436 154.864 88.7795 155.278 88.7795C155.691 88.7795 156.104 88.9436 156.435 89.2719L218.579 151.056L280.392 89.2719C280.723 88.9436 281.136 88.7795 281.549 88.7795C281.962 88.7795 282.376 88.9436 282.706 89.2719L344.933 151.056L407.16 89.2719C407.738 88.6975 408.812 88.6975 409.474 89.2719L471.7 151.056L533.927 89.2719C534.588 88.6154 535.58 88.6154 536.241 89.2719C536.902 89.9283 536.902 90.9129 536.241 91.5693L472.857 154.503C472.196 155.159 471.204 155.159 470.543 154.503L408.317 92.718L346.09 154.503C345.511 155.077 344.437 155.077 343.776 154.503L281.549 92.718L219.736 154.503C219.405 154.831 218.992 154.995 218.579 154.995Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      background-size: cover;

      margin-top: -37px;
      background-repeat: no-repeat;
      background-position: top right;
      z-index: -1;

      @media (max-width: $mobile) {
        width: 132px;
        min-height: 70px;
        left: calc(100% - 132px);
        margin-top: -39px;

        background-image: url("data:image/svg+xml,%3Csvg width='132' height='70' viewBox='0 0 132 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M87.0376 34.6247C86.8731 34.6247 86.7086 34.5595 86.577 34.4289L61.8313 9.8555L37.0527 34.4289C36.8223 34.6574 36.3946 34.6574 36.1313 34.4289L10.892 9.39862C10.6288 9.13755 10.6288 8.74594 10.892 8.48487C11.1553 8.22379 11.5501 8.22379 11.8134 8.48487L36.592 33.0583L61.3706 8.48487C61.5022 8.35433 61.6667 8.28906 61.8313 8.28906C61.9958 8.28906 62.1603 8.35433 62.292 8.48487L87.0376 33.0583L111.652 8.48487C111.783 8.35433 111.948 8.28906 112.112 8.28906C112.277 8.28906 112.441 8.35433 112.573 8.48487L137.352 33.0583L162.13 8.48487C162.361 8.25643 162.788 8.25643 163.052 8.48487L187.83 33.0583L212.609 8.48487C212.872 8.22379 213.267 8.22379 213.53 8.48487C213.793 8.74594 213.793 9.13755 213.53 9.39862L188.291 34.4289C188.028 34.69 187.633 34.69 187.37 34.4289L162.591 9.8555L137.812 34.4289C137.582 34.6574 137.154 34.6574 136.891 34.4289L112.112 9.8555L87.4983 34.4289C87.3667 34.5595 87.2022 34.6247 87.0376 34.6247Z' fill='%23FF8549'/%3E%3Cpath d='M87.0376 61.6457C86.8731 61.6457 86.7086 61.5805 86.577 61.4499L61.8313 36.8765L37.0527 61.4499C36.8223 61.6784 36.3946 61.6784 36.1313 61.4499L10.892 36.4196C10.6288 36.1585 10.6288 35.7669 10.892 35.5059C11.1553 35.2448 11.5501 35.2448 11.8134 35.5059L36.592 60.0793L61.3706 35.5059C61.5022 35.3753 61.6667 35.3101 61.8313 35.3101C61.9958 35.3101 62.1603 35.3753 62.292 35.5059L87.0376 60.0793L111.652 35.5059C111.783 35.3753 111.948 35.3101 112.112 35.3101C112.277 35.3101 112.441 35.3753 112.573 35.5059L137.352 60.0793L162.13 35.5059C162.361 35.2774 162.788 35.2774 163.052 35.5059L187.83 60.0793L212.609 35.5059C212.872 35.2448 213.267 35.2448 213.53 35.5059C213.793 35.7669 213.793 36.1585 213.53 36.4196L188.291 61.4499C188.028 61.711 187.633 61.711 187.37 61.4499L162.591 36.8765L137.812 61.4499C137.582 61.6784 137.154 61.6784 136.891 61.4499L112.112 36.8765L87.4983 61.4499C87.3667 61.5805 87.2022 61.6457 87.0376 61.6457Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      }
    }
  }

  #contato {

    .text {
      font-weight: 400;
      font-size: px-to-rem(18px);
      line-height: 150%;
      color: $black;

      p {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0px;
        }

      }

      @media (max-width: $mobile) {
        font-size: px-to-rem(16px);
      }
    }

    .email {
      display: flex;
      align-items: center;
      gap: 9px;

      margin-top: 15px;

      @media (max-width: $mobile) {
        margin-top: 22px;
      }

      &::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.875 3.75H4.125C3.42904 3.75074 2.76179 4.02755 2.26967 4.51967C1.77755 5.01179 1.50074 5.67904 1.5 6.375V17.625C1.50074 18.321 1.77755 18.9882 2.26967 19.4803C2.76179 19.9725 3.42904 20.2493 4.125 20.25H19.875C20.571 20.2493 21.2382 19.9725 21.7303 19.4803C22.2225 18.9882 22.4993 18.321 22.5 17.625V6.375C22.4993 5.67904 22.2225 5.01179 21.7303 4.51967C21.2382 4.02755 20.571 3.75074 19.875 3.75ZM19.2103 8.09203L12.4603 13.342C12.3287 13.4444 12.1667 13.4999 12 13.4999C11.8333 13.4999 11.6713 13.4444 11.5397 13.342L4.78969 8.09203C4.71038 8.03214 4.64377 7.95709 4.59372 7.87123C4.54367 7.78537 4.51118 7.69042 4.49815 7.5919C4.48511 7.49338 4.49179 7.39325 4.51778 7.29733C4.54378 7.20142 4.58858 7.11162 4.64958 7.03316C4.71058 6.95471 4.78656 6.88916 4.87312 6.84032C4.95967 6.79149 5.05506 6.76034 5.15376 6.74869C5.25245 6.73704 5.35248 6.74513 5.44802 6.77247C5.54357 6.79981 5.63272 6.84587 5.71031 6.90797L12 11.7998L18.2897 6.90797C18.447 6.7892 18.6447 6.73711 18.84 6.76296C19.0354 6.78881 19.2128 6.89053 19.3338 7.04612C19.4547 7.20171 19.5096 7.39866 19.4865 7.59439C19.4634 7.79011 19.3642 7.96888 19.2103 8.09203Z' fill='%23024420'/%3E%3C/svg%3E%0A");
      }
    }

    .telefone {
      display: flex;
      align-items: center;
      gap: 9px;

      margin-top: 15px;

      @media (max-width: $mobile) {
        margin-top: 22px;
      }

      &::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3279 22.5C17.4129 22.5 16.1276 22.1691 14.2029 21.0937C11.8624 19.7812 10.0521 18.5695 7.72432 16.2478C5.47995 14.0048 4.38776 12.5526 2.85917 9.77109C1.13229 6.63046 1.42667 4.98421 1.75573 4.28062C2.1476 3.43968 2.72604 2.93671 3.4737 2.43749C3.89836 2.15926 4.34776 1.92075 4.8162 1.72499C4.86307 1.70484 4.90667 1.68562 4.94557 1.66827C5.1776 1.56374 5.52917 1.40577 5.97448 1.57452C6.27167 1.68609 6.53698 1.91437 6.95229 2.32452C7.80401 3.16452 8.96792 5.0353 9.39729 5.95405C9.68557 6.57327 9.87635 6.98202 9.87682 7.44046C9.87682 7.97718 9.60682 8.39109 9.27917 8.8378C9.21776 8.92171 9.15682 9.00187 9.09776 9.07968C8.74104 9.54843 8.66276 9.6839 8.71432 9.92577C8.81885 10.4119 9.59838 11.8589 10.8795 13.1372C12.1606 14.4155 13.5659 15.1458 14.0539 15.2498C14.306 15.3037 14.4443 15.2222 14.9281 14.8528C14.9974 14.7998 15.0687 14.745 15.1432 14.6901C15.6429 14.3184 16.0376 14.0555 16.5617 14.0555H16.5645C17.0206 14.0555 17.411 14.2533 18.0579 14.5795C18.9017 15.0051 20.8287 16.1541 21.6739 17.0067C22.0849 17.4211 22.3142 17.6855 22.4262 17.9822C22.5949 18.4289 22.436 18.7791 22.3324 19.0134C22.3151 19.0523 22.2959 19.095 22.2757 19.1423C22.0784 19.6099 21.8385 20.0584 21.559 20.482C21.0607 21.2273 20.5559 21.8044 19.7131 22.1967C19.2803 22.4014 18.8066 22.5051 18.3279 22.5Z' fill='%23024420'/%3E%3C/svg%3E%0A");
      }
    }

    .rede-sociais {
      margin-top: 34px;

      @media (max-width: $mobile) {
        margin-top: 22px;
      }

      ul {
        display: flex;
        gap: 22.03px;
        margin-left: -20px;

        @media (max-width: $mobile) {
          gap: 18.86px;

          margin-left: -14px;
        }

        li {
          a {
            width: 56px;
            height: 56px;
            display: block;

            @media (max-width: $mobile) {
              width: 48px;
              height: 48px;
            }
          }
        }
      }

      .facebook {
        a {
          background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='4' fill='white'/%3E%3Cpath d='M30.2773 42V29.2279H34.7801L35.4543 24.2503H30.2771V21.0724C30.2771 19.6313 30.6974 18.6492 32.8681 18.6492L35.6365 18.648V14.1961C35.1577 14.1356 33.5142 14 31.6025 14C27.6109 14 24.8782 16.3196 24.8782 20.5796V24.2503H20.3638V29.2279H24.8782V41.9999L30.2773 42Z' fill='%23024420'/%3E%3C/svg%3E%0A");

          @media (max-width: $mobile) {
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' rx='4' fill='white'/%3E%3Cpath d='M25.9518 36V25.0525H29.8114L30.3892 20.786H25.9517V18.062C25.9517 16.8268 26.3119 15.985 28.1725 15.985L30.5454 15.984V12.1681C30.135 12.1162 28.7263 12 27.0877 12C23.6663 12 21.324 13.9882 21.324 17.6396V20.786H17.4545V25.0525H21.324V35.9999L25.9518 36Z' fill='%23024420'/%3E%3C/svg%3E%0A");

            &:hover {
              background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' rx='4' fill='white'/%3E%3Cpath d='M25.9518 36V25.0525H29.8114L30.3892 20.786H25.9517V18.062C25.9517 16.8268 26.3119 15.985 28.1725 15.985L30.5454 15.984V12.1681C30.135 12.1162 28.7263 12 27.0877 12C23.6663 12 21.324 13.9882 21.324 17.6396V20.786H17.4545V25.0525H21.324V35.9999L25.9518 36Z' fill='%2300D176'/%3E%3C/svg%3E%0A");
            }
          }

          &:hover {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56' fill='none'%3E%3Crect width='56' height='56' rx='4' fill='white' /%3E%3Cpath d='M30.2773 42V29.2279H34.7801L35.4543 24.2503H30.2771V21.0724C30.2771 19.6313 30.6974 18.6492 32.8681 18.6492L35.6365 18.648V14.1961C35.1577 14.1356 33.5142 14 31.6025 14C27.6109 14 24.8782 16.3196 24.8782 20.5796V24.2503H20.3638V29.2279H24.8782V41.9999L30.2773 42Z' fill='%2300D176' /%3E%3C/svg%3E");
          }
        }
      }

      .instagram {
        a {
          background-image: url("data:image/svg+xml,%3Csvg width='57' height='56' viewBox='0 0 57 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0268555' width='56' height='56' rx='4' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0269 28C14.0269 22.4076 14.0269 19.6113 15.3595 17.5973C15.9546 16.6979 16.7248 15.9277 17.6242 15.3326C19.6382 14 22.4344 14 28.0269 14C33.6193 14 36.4155 14 38.4296 15.3326C39.3289 15.9277 40.0991 16.6979 40.6942 17.5973C42.0269 19.6113 42.0269 22.4076 42.0269 28C42.0269 33.5924 42.0269 36.3887 40.6942 38.4027C40.0991 39.3021 39.3289 40.0723 38.4296 40.6674C36.4155 42 33.6193 42 28.0269 42C22.4344 42 19.6382 42 17.6242 40.6674C16.7248 40.0723 15.9546 39.3021 15.3595 38.4027C14.0269 36.3887 14.0269 33.5924 14.0269 28ZM35.2746 28.0004C35.2746 32.0033 32.0296 35.2483 28.0266 35.2483C24.0237 35.2483 20.7786 32.0033 20.7786 28.0004C20.7786 23.9974 24.0237 20.7524 28.0266 20.7524C32.0296 20.7524 35.2746 23.9974 35.2746 28.0004ZM28.0266 32.7961C30.6752 32.7961 32.8224 30.649 32.8224 28.0004C32.8224 25.3517 30.6752 23.2046 28.0266 23.2046C25.378 23.2046 23.2308 25.3517 23.2308 28.0004C23.2308 30.649 25.378 32.7961 28.0266 32.7961ZM35.5608 22.0913C36.5014 22.0913 37.2639 21.3288 37.2639 20.3882C37.2639 19.4477 36.5014 18.6852 35.5608 18.6852C34.6203 18.6852 33.8578 19.4477 33.8578 20.3882C33.8578 21.3288 34.6203 22.0913 35.5608 22.0913Z' fill='%23024420'/%3E%3C/svg%3E%0A");

          @media (max-width: $mobile) {
            background-image: url("data:image/svg+xml,%3Csvg width='49' height='48' viewBox='0 0 49 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.857147' width='48' height='48' rx='4' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8571 24C12.8571 19.2065 12.8571 16.8097 13.9994 15.0834C14.5095 14.3125 15.1697 13.6523 15.9406 13.1423C17.6669 12 20.0636 12 24.8571 12C29.6507 12 32.0474 12 33.7737 13.1423C34.5446 13.6523 35.2048 14.3125 35.7149 15.0834C36.8571 16.8097 36.8571 19.2065 36.8571 24C36.8571 28.7935 36.8571 31.1903 35.7149 32.9166C35.2048 33.6875 34.5446 34.3477 33.7737 34.8577C32.0474 36 29.6507 36 24.8571 36C20.0636 36 17.6669 36 15.9406 34.8577C15.1697 34.3477 14.5095 33.6875 13.9994 32.9166C12.8571 31.1903 12.8571 28.7935 12.8571 24ZM31.0695 24.0003C31.0695 27.4314 28.288 30.2128 24.8569 30.2128C21.4258 30.2128 18.6444 27.4314 18.6444 24.0003C18.6444 20.5692 21.4258 17.7878 24.8569 17.7878C28.288 17.7878 31.0695 20.5692 31.0695 24.0003ZM24.8569 28.111C27.1272 28.111 28.9676 26.2706 28.9676 24.0003C28.9676 21.73 27.1272 19.8896 24.8569 19.8896C22.5867 19.8896 20.7463 21.73 20.7463 24.0003C20.7463 26.2706 22.5867 28.111 24.8569 28.111ZM31.3148 18.9354C32.1211 18.9354 32.7746 18.2818 32.7746 17.4756C32.7746 16.6694 32.1211 16.0159 31.3148 16.0159C30.5086 16.0159 29.8551 16.6694 29.8551 17.4756C29.8551 18.2818 30.5086 18.9354 31.3148 18.9354Z' fill='%23024420'/%3E%3C/svg%3E%0A");

            &:hover {
              background-image: url("data:image/svg+xml,%3Csvg width='49' height='48' viewBox='0 0 49 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.857147' width='48' height='48' rx='4' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8571 24C12.8571 19.2065 12.8571 16.8097 13.9994 15.0834C14.5095 14.3125 15.1697 13.6523 15.9406 13.1423C17.6669 12 20.0636 12 24.8571 12C29.6507 12 32.0474 12 33.7737 13.1423C34.5446 13.6523 35.2048 14.3125 35.7149 15.0834C36.8571 16.8097 36.8571 19.2065 36.8571 24C36.8571 28.7935 36.8571 31.1903 35.7149 32.9166C35.2048 33.6875 34.5446 34.3477 33.7737 34.8577C32.0474 36 29.6507 36 24.8571 36C20.0636 36 17.6669 36 15.9406 34.8577C15.1697 34.3477 14.5095 33.6875 13.9994 32.9166C12.8571 31.1903 12.8571 28.7935 12.8571 24ZM31.0695 24.0003C31.0695 27.4314 28.288 30.2128 24.8569 30.2128C21.4258 30.2128 18.6444 27.4314 18.6444 24.0003C18.6444 20.5692 21.4258 17.7878 24.8569 17.7878C28.288 17.7878 31.0695 20.5692 31.0695 24.0003ZM24.8569 28.111C27.1272 28.111 28.9676 26.2706 28.9676 24.0003C28.9676 21.73 27.1272 19.8896 24.8569 19.8896C22.5867 19.8896 20.7463 21.73 20.7463 24.0003C20.7463 26.2706 22.5867 28.111 24.8569 28.111ZM31.3148 18.9354C32.1211 18.9354 32.7746 18.2818 32.7746 17.4756C32.7746 16.6694 32.1211 16.0159 31.3148 16.0159C30.5086 16.0159 29.8551 16.6694 29.8551 17.4756C29.8551 18.2818 30.5086 18.9354 31.3148 18.9354Z' fill='%2300D176'/%3E%3C/svg%3E%0A");
            }
          }

          &:hover {
            background-image: url("data:image/svg+xml,%3Csvg width='57' height='56' viewBox='0 0 57 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0268555' width='56' height='56' rx='4' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0269 28C14.0269 22.4076 14.0269 19.6113 15.3595 17.5973C15.9546 16.6979 16.7248 15.9277 17.6242 15.3326C19.6382 14 22.4344 14 28.0269 14C33.6193 14 36.4155 14 38.4296 15.3326C39.3289 15.9277 40.0991 16.6979 40.6942 17.5973C42.0269 19.6113 42.0269 22.4076 42.0269 28C42.0269 33.5924 42.0269 36.3887 40.6942 38.4027C40.0991 39.3021 39.3289 40.0723 38.4296 40.6674C36.4155 42 33.6193 42 28.0269 42C22.4344 42 19.6382 42 17.6242 40.6674C16.7248 40.0723 15.9546 39.3021 15.3595 38.4027C14.0269 36.3887 14.0269 33.5924 14.0269 28ZM35.2746 28.0004C35.2746 32.0033 32.0296 35.2483 28.0266 35.2483C24.0237 35.2483 20.7786 32.0033 20.7786 28.0004C20.7786 23.9974 24.0237 20.7524 28.0266 20.7524C32.0296 20.7524 35.2746 23.9974 35.2746 28.0004ZM28.0266 32.7961C30.6752 32.7961 32.8224 30.649 32.8224 28.0004C32.8224 25.3517 30.6752 23.2046 28.0266 23.2046C25.378 23.2046 23.2308 25.3517 23.2308 28.0004C23.2308 30.649 25.378 32.7961 28.0266 32.7961ZM35.5608 22.0913C36.5014 22.0913 37.2639 21.3288 37.2639 20.3882C37.2639 19.4477 36.5014 18.6852 35.5608 18.6852C34.6203 18.6852 33.8578 19.4477 33.8578 20.3882C33.8578 21.3288 34.6203 22.0913 35.5608 22.0913Z' fill='%2300D176'/%3E%3C/svg%3E%0A");
          }
        }
      }

      .linkedin {
        a {
          background-image: url("data:image/svg+xml,%3Csvg width='57' height='56' viewBox='0 0 57 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0527344' width='56' height='56' rx='4' fill='white'/%3E%3Cpath d='M14.0527 17.7643C14.0527 16.8664 14.3681 16.1257 14.9987 15.5421C15.6293 14.9585 16.4491 14.6667 17.4581 14.6667C18.4491 14.6667 19.2509 14.954 19.8635 15.5286C20.4942 16.1212 20.8095 16.8934 20.8095 17.8451C20.8095 18.7071 20.5032 19.4254 19.8906 20C19.26 20.5926 18.4311 20.8889 17.4041 20.8889H17.3771C16.3861 20.8889 15.5843 20.5926 14.9717 20C14.359 19.4074 14.0527 18.6622 14.0527 17.7643ZM14.4041 41.3333V23.3401H20.4041V41.3333H14.4041ZM23.7284 41.3333H29.7284V31.2862C29.7284 30.6577 29.8005 30.1728 29.9446 29.8317C30.1969 29.2211 30.5798 28.7048 31.0933 28.2828C31.6068 27.8608 32.2509 27.6498 33.0257 27.6498C35.0437 27.6498 36.0527 29.0056 36.0527 31.7172V41.3333H42.0527V31.0168C42.0527 28.3592 41.4221 26.3435 40.1608 24.9697C38.8996 23.596 37.2329 22.9091 35.1608 22.9091C32.8365 22.9091 31.0257 23.9057 29.7284 25.899V25.9529H29.7014L29.7284 25.899V23.3401H23.7284C23.7644 23.9147 23.7825 25.7015 23.7825 28.7004C23.7825 31.6992 23.7644 35.9102 23.7284 41.3333Z' fill='%23024420'/%3E%3C/svg%3E%0A");

          @media (max-width: $mobile) {
            background-image: url("data:image/svg+xml,%3Csvg width='49' height='48' viewBox='0 0 49 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.714279' width='48' height='48' rx='4' fill='white'/%3E%3Cpath d='M12.7143 15.2265C12.7143 14.4569 12.9846 13.822 13.5251 13.3218C14.0657 12.8215 14.7684 12.5714 15.6332 12.5714C16.4827 12.5714 17.1699 12.8177 17.695 13.3102C18.2355 13.8182 18.5058 14.48 18.5058 15.2958C18.5058 16.0346 18.2433 16.6503 17.7182 17.1428C17.1776 17.6508 16.4672 17.9047 15.5869 17.9047H15.5637C14.7143 17.9047 14.0271 17.6508 13.502 17.1428C12.9769 16.6349 12.7143 15.9961 12.7143 15.2265ZM13.0155 35.4285V20.0058H18.1583V35.4285H13.0155ZM21.0077 35.4285H26.1506V26.8167C26.1506 26.278 26.2124 25.8624 26.3359 25.57C26.5521 25.0466 26.8803 24.6041 27.3205 24.2424C27.7606 23.8807 28.3128 23.6998 28.9769 23.6998C30.7066 23.6998 31.5715 24.8619 31.5715 27.1861V35.4285H36.7143V26.5858C36.7143 24.3078 36.1738 22.5801 35.0927 21.4026C34.0116 20.2251 32.583 19.6363 30.807 19.6363C28.8147 19.6363 27.2626 20.4906 26.1506 22.1991V22.2453H26.1274L26.1506 22.1991V20.0058H21.0077C21.0386 20.4983 21.0541 22.0298 21.0541 24.6003C21.0541 27.1707 21.0386 30.7801 21.0077 35.4285Z' fill='%23024420'/%3E%3C/svg%3E%0A");

            &:hover {
              background-image: url("data:image/svg+xml,%3Csvg width='49' height='48' viewBox='0 0 49 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.714279' width='48' height='48' rx='4' fill='white'/%3E%3Cpath d='M12.7143 15.2265C12.7143 14.4569 12.9846 13.822 13.5251 13.3218C14.0657 12.8215 14.7684 12.5714 15.6332 12.5714C16.4827 12.5714 17.1699 12.8177 17.695 13.3102C18.2355 13.8182 18.5058 14.48 18.5058 15.2958C18.5058 16.0346 18.2433 16.6503 17.7182 17.1428C17.1776 17.6508 16.4672 17.9047 15.5869 17.9047H15.5637C14.7143 17.9047 14.0271 17.6508 13.502 17.1428C12.9769 16.6349 12.7143 15.9961 12.7143 15.2265ZM13.0155 35.4285V20.0058H18.1583V35.4285H13.0155ZM21.0077 35.4285H26.1506V26.8167C26.1506 26.278 26.2124 25.8624 26.3359 25.57C26.5521 25.0466 26.8803 24.6041 27.3205 24.2424C27.7606 23.8807 28.3128 23.6998 28.9769 23.6998C30.7066 23.6998 31.5715 24.8619 31.5715 27.1861V35.4285H36.7143V26.5858C36.7143 24.3078 36.1738 22.5801 35.0927 21.4026C34.0116 20.2251 32.583 19.6363 30.807 19.6363C28.8147 19.6363 27.2626 20.4906 26.1506 22.1991V22.2453H26.1274L26.1506 22.1991V20.0058H21.0077C21.0386 20.4983 21.0541 22.0298 21.0541 24.6003C21.0541 27.1707 21.0386 30.7801 21.0077 35.4285Z' fill='%2300D176'/%3E%3C/svg%3E%0A");
            }
          }

          &:hover {
            background-image: url("data:image/svg+xml,%3Csvg width='57' height='56' viewBox='0 0 57 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0527344' width='56' height='56' rx='4' fill='white'/%3E%3Cpath d='M14.0527 17.7643C14.0527 16.8664 14.3681 16.1257 14.9987 15.5421C15.6293 14.9585 16.4491 14.6667 17.4581 14.6667C18.4491 14.6667 19.2509 14.954 19.8635 15.5286C20.4942 16.1212 20.8095 16.8934 20.8095 17.8451C20.8095 18.7071 20.5032 19.4254 19.8906 20C19.26 20.5926 18.4311 20.8889 17.4041 20.8889H17.3771C16.3861 20.8889 15.5843 20.5926 14.9717 20C14.359 19.4074 14.0527 18.6622 14.0527 17.7643ZM14.4041 41.3333V23.3401H20.4041V41.3333H14.4041ZM23.7284 41.3333H29.7284V31.2862C29.7284 30.6577 29.8005 30.1728 29.9446 29.8317C30.1969 29.2211 30.5798 28.7048 31.0933 28.2828C31.6068 27.8608 32.2509 27.6498 33.0257 27.6498C35.0437 27.6498 36.0527 29.0056 36.0527 31.7172V41.3333H42.0527V31.0168C42.0527 28.3592 41.4221 26.3435 40.1608 24.9697C38.8996 23.596 37.2329 22.9091 35.1608 22.9091C32.8365 22.9091 31.0257 23.9057 29.7284 25.899V25.9529H29.7014L29.7284 25.899V23.3401H23.7284C23.7644 23.9147 23.7825 25.7015 23.7825 28.7004C23.7825 31.6992 23.7644 35.9102 23.7284 41.3333Z' fill='%2300D176'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }

    .form-contato {
      min-width: 644px;

      @media (max-width: $mobile) {
        width: 100%;
        max-width: 100%;
        min-width: 100%;

        margin-top: 25px;
      }
    }

    .response {
      display: none;

      &.show {
        display: block;
      }

      .error {
        color: red;
      }

      .success {
        color: $green-dark;
      }
    }
  }

  #junte_se_a_nos {
    margin-top: 50px;
    padding: 78px 0px 60px 0px;

    background-color: $green-dark;

    @media (max-width: $mobile) {
      margin-top: 47px;
      padding: 37px 0px 60px 0px;
    }

    .title {
      h2 {
        font-weight: 700;
        font-size: px-to-rem(52px);
        line-height: 63px;
        color: $orange;

        margin-bottom: 26px;

        @media (max-width: $mobile) {
          font-size: px-to-rem(28px);
          line-height: 34px;
          text-align: center;

          margin-bottom: 23px;
        }
      }
    }

    .content {

      @media (max-width: $mobile) {
        order: 2;
      }

      p {
        font-weight: 400;
        font-size: px-to-rem(18px);
        line-height: 150%;
        color: $beige;

        margin-bottom: 27px;

        &:last-child {
          margin-bottom: 0px;
        }

        @media (max-width: $mobile) {
          font-size: px-to-rem(16px);
        }
      }
    }

    .image {
      @media (max-width: $mobile) {
        order: 1;

        img {
          margin-left: -16px;
        }
      }
    }

    .voluntario {
      display: flex;
      justify-content: center;
    }
  }
}