footer {
  background-color: #E3E6D1;
  padding: 35px 0px 23px 0px;

  @media (max-width: $mobile) {
    padding: 38px 0px 11px 0px;
  }

  .container {
    @media (max-width: $mobile) {
      padding: 0 45px;
    }
  }

  .site-branding {
    margin-bottom: 18px;

    @media (max-width: $mobile) {
      text-align: center;
    }

    .logo-footer-mobile {
      display: none;
    }
  }

  .address, .address * {
    font-weight: 400;
    font-size: px-to-rem(14px);
    line-height: 150%;
    color: $green-dark;
  }

  @media (max-width: $mobile) {
    .address {
      display: flex;
      justify-content: center;
      margin-bottom: 23px;
    }
  }

  #footer_nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #social_footer_nav {
    display: flex;
    align-items: center;
    justify-content: end;

    @media (max-width: $mobile) {
      justify-content: center;
      margin-top: 32px;
    }
  }
  
  .menu-menu-rodape-container, .menu-menu-do-rodape-mobile-container {
    #menu-menu-rodape, #menu-menu-do-rodape-mobile {
      list-style-type: none;
      padding: 0;
      display: grid; 
      grid-template-columns: repeat(3, 1fr);
      gap: 4px 32px;

      @media (max-width: $mobile) {
        grid-template-columns: repeat(2, 1fr);
      }

      .menu-item {
        flex: 1;
        box-sizing: border-box;
        white-space: nowrap;


        a {
          font-weight: 400;
          font-size: px-to-rem(18px);
          line-height: 150%;
          color: $green-dark;
          text-decoration: none;

          @media (max-width: $mobile) {
            font-weight: 500;
            font-size: px-to-rem(16px);
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

    }
  }

  .menu-redes-sociais-rodape-container {
    #menu-redes-sociais-rodape {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }
  }

  hr {
    margin: 31px 0 18px 0px; 

    @media (max-width: $mobile) {
      margin-bottom: 7px;
    }

    &.mobile-only {
      margin: 7px 0 10px 0px; 
    }
  }

  .copyright, .dev, .dev a {
    font-weight: 400;
    font-size: px-to-rem(14px);
    line-height: 17px;
    color: #000000;

    @media (max-width: $mobile) {
      font-size: px-to-rem(12px);
      line-height: 15px;
    }
  }

  .copyright {
    @media (max-width: $mobile) {
      padding: 0 13px;
    }
  }

  .dev {
    text-align: right;
    @media (max-width: $mobile) {
      text-align: center;
    }
  }

}
