header {
  background: $green-dark;
  padding: 24px 0px;

  @media (max-width: $mobile) {
    padding: 18px 0px 17px 0px;
  }

  .menu-item {
    a {
      font-weight: 500;
      font-size: px-to-rem(16px);
      line-height: 20px;
      color: $beige;
      text-decoration: none;
    }

    @media (min-width: $desktop) {
      &:not(.current_page_item) {
        margin-bottom: 2px;
      }

      &:hover {
        margin-bottom: 0px;
      }

      &.current_page_item {
        a {
          color: $gree-light;
        }

        &::after {
          content: '';
          display: block;
          height: 2px;
          width: 100%;
          background: $gree-light;
        }
      }

      &:hover:after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background: $beige;
      }
    }

  }

  .container {
    display: flex;
    align-items: center;
    gap: 92px;

    .site-branding {
      width: 14%;

      .logo-mobile {
        display: none;
      }

      .logo {
        display: block;
      }

      @media (max-width: $mobile) {
        .logo-mobile {
          display: block;
        }

        .logo {
          display: none;
        }
      }
    }

    nav {
      width: 80%;
      display: flex;
      align-items: center;
      gap: 32px;

      .menu-menu-principal-container {
        #menu-menu-principal {
          display: flex;
          list-style-type: none;
          align-items: center;
          gap: 32px;

          @media (max-width: $mobile) {
            display: none;
          }
        }
      }

      .menu-redes-sociais-container {
        #menu-redes-sociais {
          display: flex;
          list-style-type: none;
          align-items: center;

          li {
            margin-bottom: 0px;
            
            &:hover::after {
              display: none;
            }
          }

          @media (max-width: $mobile) {
            display: none;
          }
        }
      }

      .nav-mobile-container {
        display: none;
      }

      @media (max-width: $mobile) {
        gap: 0px;
        justify-content: end;

        .nav-mobile-container {
          display: flex;
          flex-direction: column;

          position: absolute;
          left: 0px;
          top: 0px;
          width: calc(100vw - 40px);
          z-index: 99999999999999999;
          background-color: $green-dark;
          padding: 20px;

          overflow: hidden;
          max-height: 0;
          transition: max-height 0.3s ease-out;

          &.open {
            max-height: 100vh;
          }

          .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
          }

          .content {
            padding-left: 4px;

            .menu-item {
              padding: 10px 0px;
            }
          }

          .footer {
            margin-top: 20px;

            .social-menu {
              display: flex;
              gap: 10px;

              a {
                margin-right: 0px;
              }
            }
          }
        }
      }
    }

    @media (min-width: $desktop) {
      #nav_mobile {
        display: none;
      }
    }
  }
}