.page-template-home-template {

  #hero {
    min-height: calc(100vh - 96px);
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;

    .container {
      height: 600px;
      display: flex;
      align-items: center;
    }

    h1 {
      font-family: 'Dela Gothic One';
      font-weight: 400;
      font-size: px-to-rem(64px);
      line-height: 93px;
      color: #024420;
      max-width: 600px;

      span {
        display: inline-flex;
        align-items: flex-end;
        max-height: 74px;
        background-color: #00D176;
        margin: 9.5px 0px;
      }
    }
  }
}

