.custom-icon {
  a {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    vertical-align: middle;
    font-size: 0px !important;
  }

  &.facebook {
    a {
      width: 31px;
      height: 31px;
      background-image: url("data:image/svg+xml,%3Csvg width='31' height='32' viewBox='0 0 31 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.6875' width='30.625' height='30.625' rx='15.3125' fill='%23E3E6D1'/%3E%3Cpath d='M16.5577 23.6562V16.6715H19.0202L19.3888 13.9494H16.5576V12.2115C16.5576 11.4233 16.7874 10.8863 17.9745 10.8863L19.4885 10.8856V8.451C19.2267 8.41788 18.3279 8.34375 17.2824 8.34375C15.0995 8.34375 13.605 9.61228 13.605 11.942V13.9494H11.1362V16.6715H13.605V23.6562L16.5577 23.6562Z' fill='%23024420'/%3E%3C/svg%3E%0A");
    }
  }

  &.facebook-dark {
    a {
      width: 46px;
      height: 46px;
      background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='46' height='46' rx='23' fill='%23024420'/%3E%3Cpath d='M24.8705 34.5V24.0086H28.5693L29.1231 19.9199H24.8704V17.3095C24.8704 16.1257 25.2156 15.319 26.9987 15.319L29.2728 15.318V11.6611C28.8794 11.6114 27.5295 11.5 25.9591 11.5C22.6803 11.5 20.4356 13.4054 20.4356 16.9046V19.9199H16.7273V24.0086H20.4356V34.4999L24.8705 34.5Z' fill='%23E3E6D1'/%3E%3C/svg%3E%0A");
    }
  }

  &.instagram {
    a {
      width: 32px;
      height: 32px;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.625' y='0.6875' width='30.625' height='30.625' rx='15.3125' fill='%23E3E6D1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.28125 16C8.28125 12.9416 8.28125 11.4125 9.01003 10.311C9.33547 9.81919 9.75669 9.39797 10.2485 9.07253C11.35 8.34375 12.8791 8.34375 15.9375 8.34375C18.9959 8.34375 20.525 8.34375 21.6265 9.07253C22.1183 9.39797 22.5395 9.81919 22.865 10.311C23.5938 11.4125 23.5938 12.9416 23.5938 16C23.5938 19.0584 23.5938 20.5875 22.865 21.689C22.5395 22.1808 22.1183 22.602 21.6265 22.9275C20.525 23.6562 18.9959 23.6562 15.9375 23.6562C12.8791 23.6562 11.35 23.6562 10.2485 22.9275C9.75669 22.602 9.33547 22.1808 9.01003 21.689C8.28125 20.5875 8.28125 19.0584 8.28125 16ZM19.9011 16.0002C19.9011 18.1893 18.1265 19.9639 15.9374 19.9639C13.7483 19.9639 11.9736 18.1893 11.9736 16.0002C11.9736 13.8111 13.7483 12.0365 15.9374 12.0365C18.1265 12.0365 19.9011 13.8111 19.9011 16.0002ZM15.9374 18.6229C17.3858 18.6229 18.5601 17.4487 18.5601 16.0002C18.5601 14.5517 17.3858 13.3775 15.9374 13.3775C14.4889 13.3775 13.3147 14.5517 13.3147 16.0002C13.3147 17.4487 14.4889 18.6229 15.9374 18.6229ZM20.0576 12.7687C20.572 12.7687 20.989 12.3517 20.989 11.8373C20.989 11.3229 20.572 10.906 20.0576 10.906C19.5433 10.906 19.1263 11.3229 19.1263 11.8373C19.1263 12.3517 19.5433 12.7687 20.0576 12.7687Z' fill='%23024420'/%3E%3C/svg%3E%0A");
    }
  }

  &.instagram-dark {
    a {
      width: 46px;
      height: 46px;
      background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='46' height='46' rx='23' fill='%23024420'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5 23C11.5 18.4062 11.5 16.1093 12.5947 14.4549C13.0835 13.7162 13.7162 13.0835 14.4549 12.5947C16.1093 11.5 18.4062 11.5 23 11.5C27.5938 11.5 29.8907 11.5 31.5451 12.5947C32.2838 13.0835 32.9165 13.7162 33.4053 14.4549C34.5 16.1093 34.5 18.4062 34.5 23C34.5 27.5938 34.5 29.8907 33.4053 31.5451C32.9165 32.2838 32.2838 32.9165 31.5451 33.4053C29.8907 34.5 27.5938 34.5 23 34.5C18.4062 34.5 16.1093 34.5 14.4549 33.4053C13.7162 32.9165 13.0835 32.2838 12.5947 31.5451C11.5 29.8907 11.5 27.5938 11.5 23ZM28.9535 23.0003C28.9535 26.2884 26.2879 28.954 22.9998 28.954C19.7117 28.954 17.0461 26.2884 17.0461 23.0003C17.0461 19.7122 19.7117 17.0466 22.9998 17.0466C26.2879 17.0466 28.9535 19.7122 28.9535 23.0003ZM22.9998 26.9397C25.1755 26.9397 26.9392 25.176 26.9392 23.0003C26.9392 20.8246 25.1755 19.0609 22.9998 19.0609C20.8241 19.0609 19.0604 20.8246 19.0604 23.0003C19.0604 25.176 20.8241 26.9397 22.9998 26.9397ZM29.1886 18.1464C29.9612 18.1464 30.5876 17.5201 30.5876 16.7475C30.5876 15.9749 29.9612 15.3485 29.1886 15.3485C28.416 15.3485 27.7897 15.9749 27.7897 16.7475C27.7897 17.5201 28.416 18.1464 29.1886 18.1464Z' fill='%23E3E6D1'/%3E%3C/svg%3E%0A");    }
  }

  &.linkedin {
    a {
      width: 31px;
      height: 31px;
      background-image: url("data:image/svg+xml,%3Csvg width='31' height='32' viewBox='0 0 31 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.25' y='0.687622' width='30.625' height='30.625' rx='15.3125' fill='%23E3E6D1'/%3E%3Cpath d='M7.90625 10.4024C7.90625 9.91137 8.07869 9.50627 8.42356 9.18712C8.76844 8.86795 9.21678 8.70837 9.76858 8.70837C10.3105 8.70837 10.749 8.86549 11.084 9.17975C11.4289 9.50383 11.6014 9.9261 11.6014 10.4466C11.6014 10.918 11.4338 11.3108 11.0988 11.625C10.7539 11.9491 10.3007 12.1112 9.73902 12.1112H9.72424C9.18229 12.1112 8.74381 11.9491 8.40878 11.625C8.07376 11.301 7.90625 10.8934 7.90625 10.4024ZM8.0984 23.2917V13.4516H11.3796V23.2917H8.0984ZM13.1976 23.2917H16.4789V17.7972C16.4789 17.4535 16.5183 17.1883 16.5971 17.0017C16.7351 16.6678 16.9445 16.3855 17.2253 16.1547C17.5061 15.9239 17.8584 15.8085 18.2821 15.8085C19.3857 15.8085 19.9375 16.55 19.9375 18.0329V23.2917H23.2188V17.6499C23.2188 16.1964 22.8739 15.0941 22.1841 14.3428C21.4944 13.5916 20.5829 13.2159 19.4497 13.2159C18.1786 13.2159 17.1883 13.761 16.4789 14.851V14.8805H16.4641L16.4789 14.851V13.4516H13.1976C13.2173 13.7659 13.2272 14.743 13.2272 16.383C13.2272 18.023 13.2173 20.3259 13.1976 23.2917Z' fill='%23024420'/%3E%3C/svg%3E%0A");
    }
  }

  &.linkedin-dark {
    a {
      width: 46px;
      height: 46px;
      background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='46' height='46' rx='23' fill='%23024420'/%3E%3Cpath d='M11.5 14.5921C11.5 13.8546 11.759 13.2461 12.277 12.7667C12.795 12.2873 13.4685 12.0476 14.2973 12.0476C15.1113 12.0476 15.7699 12.2836 16.2732 12.7556C16.7912 13.2424 17.0502 13.8767 17.0502 14.6585C17.0502 15.3665 16.7986 15.9565 16.2954 16.4286C15.7774 16.9153 15.0965 17.1587 14.2529 17.1587H14.2307C13.4167 17.1587 12.7581 16.9153 12.2548 16.4286C11.7516 15.9418 11.5 15.3296 11.5 14.5921ZM11.7886 33.9524V19.1722H16.7172V33.9524H11.7886ZM19.4479 33.9524H24.3764V25.6994C24.3764 25.1831 24.4357 24.7848 24.5541 24.5046C24.7613 24.003 25.0758 23.5789 25.4976 23.2323C25.9194 22.8857 26.4485 22.7123 27.0849 22.7123C28.7426 22.7123 29.5714 23.826 29.5714 26.0534V33.9524H34.5V25.4781C34.5 23.295 33.982 21.6392 32.9459 20.5108C31.9099 19.3824 30.5409 18.8182 28.8388 18.8182C26.9295 18.8182 25.4421 19.6368 24.3764 21.2742V21.3184H24.3542L24.3764 21.2742V19.1722H19.4479C19.4775 19.6442 19.4923 21.1119 19.4923 23.5753C19.4923 26.0386 19.4775 29.4976 19.4479 33.9524Z' fill='%23E3E6D1'/%3E%3C/svg%3E%0A");    }
  }
}

.icon {
  &.close {
    width: 19.26px;
    height: 19.26px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7634 1L1.49998 20.2634' stroke='%23E3E6D1' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M20.7634 20.2634L1.49998 0.999976' stroke='%23E3E6D1' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }

  &.hamburger {
    width: 23px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H24' stroke='%23E3E6D1' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 9H24' stroke='%23E3E6D1' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 17H24' stroke='%23E3E6D1' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
}