.custom-icon {
  a {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    vertical-align: middle;
    font-size: 0px !important;
  }

  &.facebook {
    a {
      width: 31px;
      height: 31px;
      background-image: url("data:image/svg+xml,%3Csvg width='31' height='32' viewBox='0 0 31 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.6875' width='30.625' height='30.625' rx='15.3125' fill='%23E3E6D1'/%3E%3Cpath d='M16.5577 23.6562V16.6715H19.0202L19.3888 13.9494H16.5576V12.2115C16.5576 11.4233 16.7874 10.8863 17.9745 10.8863L19.4885 10.8856V8.451C19.2267 8.41788 18.3279 8.34375 17.2824 8.34375C15.0995 8.34375 13.605 9.61228 13.605 11.942V13.9494H11.1362V16.6715H13.605V23.6562L16.5577 23.6562Z' fill='%23024420'/%3E%3C/svg%3E%0A");
    }
  }

  &.instagram {
    a {
      width: 32px;
      height: 32px;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.625' y='0.6875' width='30.625' height='30.625' rx='15.3125' fill='%23E3E6D1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.28125 16C8.28125 12.9416 8.28125 11.4125 9.01003 10.311C9.33547 9.81919 9.75669 9.39797 10.2485 9.07253C11.35 8.34375 12.8791 8.34375 15.9375 8.34375C18.9959 8.34375 20.525 8.34375 21.6265 9.07253C22.1183 9.39797 22.5395 9.81919 22.865 10.311C23.5938 11.4125 23.5938 12.9416 23.5938 16C23.5938 19.0584 23.5938 20.5875 22.865 21.689C22.5395 22.1808 22.1183 22.602 21.6265 22.9275C20.525 23.6562 18.9959 23.6562 15.9375 23.6562C12.8791 23.6562 11.35 23.6562 10.2485 22.9275C9.75669 22.602 9.33547 22.1808 9.01003 21.689C8.28125 20.5875 8.28125 19.0584 8.28125 16ZM19.9011 16.0002C19.9011 18.1893 18.1265 19.9639 15.9374 19.9639C13.7483 19.9639 11.9736 18.1893 11.9736 16.0002C11.9736 13.8111 13.7483 12.0365 15.9374 12.0365C18.1265 12.0365 19.9011 13.8111 19.9011 16.0002ZM15.9374 18.6229C17.3858 18.6229 18.5601 17.4487 18.5601 16.0002C18.5601 14.5517 17.3858 13.3775 15.9374 13.3775C14.4889 13.3775 13.3147 14.5517 13.3147 16.0002C13.3147 17.4487 14.4889 18.6229 15.9374 18.6229ZM20.0576 12.7687C20.572 12.7687 20.989 12.3517 20.989 11.8373C20.989 11.3229 20.572 10.906 20.0576 10.906C19.5433 10.906 19.1263 11.3229 19.1263 11.8373C19.1263 12.3517 19.5433 12.7687 20.0576 12.7687Z' fill='%23024420'/%3E%3C/svg%3E%0A");    }
  }

  &.linkedin {
    a {
      width: 31px;
      height: 31px;
      background-image: url("data:image/svg+xml,%3Csvg width='31' height='32' viewBox='0 0 31 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.25' y='0.687622' width='30.625' height='30.625' rx='15.3125' fill='%23E3E6D1'/%3E%3Cpath d='M7.90625 10.4024C7.90625 9.91137 8.07869 9.50627 8.42356 9.18712C8.76844 8.86795 9.21678 8.70837 9.76858 8.70837C10.3105 8.70837 10.749 8.86549 11.084 9.17975C11.4289 9.50383 11.6014 9.9261 11.6014 10.4466C11.6014 10.918 11.4338 11.3108 11.0988 11.625C10.7539 11.9491 10.3007 12.1112 9.73902 12.1112H9.72424C9.18229 12.1112 8.74381 11.9491 8.40878 11.625C8.07376 11.301 7.90625 10.8934 7.90625 10.4024ZM8.0984 23.2917V13.4516H11.3796V23.2917H8.0984ZM13.1976 23.2917H16.4789V17.7972C16.4789 17.4535 16.5183 17.1883 16.5971 17.0017C16.7351 16.6678 16.9445 16.3855 17.2253 16.1547C17.5061 15.9239 17.8584 15.8085 18.2821 15.8085C19.3857 15.8085 19.9375 16.55 19.9375 18.0329V23.2917H23.2188V17.6499C23.2188 16.1964 22.8739 15.0941 22.1841 14.3428C21.4944 13.5916 20.5829 13.2159 19.4497 13.2159C18.1786 13.2159 17.1883 13.761 16.4789 14.851V14.8805H16.4641L16.4789 14.851V13.4516H13.1976C13.2173 13.7659 13.2272 14.743 13.2272 16.383C13.2272 18.023 13.2173 20.3259 13.1976 23.2917Z' fill='%23024420'/%3E%3C/svg%3E%0A");  
    }
  }
}

.icon {
  &.close {
    width: 19.26px;
    height: 19.26px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7634 1L1.49998 20.2634' stroke='%23E3E6D1' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M20.7634 20.2634L1.49998 0.999976' stroke='%23E3E6D1' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }

  &.hamburger {
    width: 23px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H24' stroke='%23E3E6D1' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 9H24' stroke='%23E3E6D1' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 17H24' stroke='%23E3E6D1' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");  }
}