@use 'sass:math';

.page-template-impact-template {
  .breadcrumb {
    .bg {
      display: block;
      position: absolute;
      right: 0;
      margin-top: -93px;

      width: calc(#{math.div(313px, $base-width) * 100} * 1vw);
      height: calc(#{math.div(280px, $base-width) * 100} * 1vw);

      background-image: url("data:image/svg+xml,%3Csvg width='313' height='280' viewBox='0 0 313 280' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M262.547 259.956C262.228 259.956 261.908 259.829 261.653 259.573C261.142 259.063 261.142 258.297 261.653 257.786L360.786 158.653C361.297 158.142 362.063 158.142 362.574 158.653C363.084 159.163 363.084 159.929 362.574 160.44L263.44 259.573C263.185 259.829 262.866 259.956 262.547 259.956Z' fill='%23FF8549'/%3E%3Cpath d='M212.182 272.978C211.863 272.978 211.544 272.851 211.288 272.595C210.778 272.085 210.778 271.319 211.288 270.808L373.808 108.288C374.319 107.778 375.085 107.778 375.595 108.288C376.106 108.799 376.106 109.565 375.595 110.076L213.076 272.595C212.82 272.851 212.501 272.978 212.182 272.978Z' fill='%23FF8549'/%3E%3Cpath d='M174.457 273.297C174.137 273.297 173.818 273.17 173.563 272.914C173.052 272.404 173.052 271.638 173.563 271.127L374.127 70.5628C374.638 70.0521 375.404 70.0521 375.915 70.5628C376.425 71.0735 376.425 71.8395 375.915 72.3502L175.35 272.914C175.095 273.17 174.776 273.297 174.457 273.297Z' fill='%23FF8549'/%3E%3Cpath d='M142.795 267.552C142.476 267.552 142.157 267.425 141.902 267.169C141.391 266.659 141.391 265.893 141.902 265.382L368.382 38.9014C368.893 38.3908 369.659 38.3908 370.17 38.9014C370.68 39.4121 370.68 40.1781 370.17 40.6888L143.689 267.169C143.434 267.425 143.114 267.552 142.795 267.552Z' fill='%23FF8549'/%3E%3Cpath d='M115.347 257.595C115.028 257.595 114.708 257.467 114.453 257.212C113.942 256.701 113.942 255.935 114.453 255.424L358.424 11.4532C358.935 10.9425 359.701 10.9425 360.211 11.4532C360.722 11.9639 360.722 12.7299 360.211 13.2405L116.24 257.212C115.985 257.467 115.666 257.595 115.347 257.595Z' fill='%23FF8549'/%3E%3Cpath d='M91.2815 244.317C90.9624 244.317 90.6432 244.19 90.3879 243.934C89.8772 243.424 89.8772 242.658 90.3879 242.147L345.147 -12.612C345.657 -13.1227 346.423 -13.1227 346.934 -12.612C347.445 -12.1013 347.445 -11.3353 346.934 -10.8247L92.1752 243.934C91.9199 244.19 91.6007 244.317 91.2815 244.317Z' fill='%23FF8549'/%3E%3Cpath d='M70.0252 228.167C69.706 228.167 69.3869 228.04 69.1315 227.784C68.6209 227.274 68.6209 226.508 69.1315 225.997L328.997 -33.8685C329.508 -34.3791 330.274 -34.3791 330.784 -33.8685C331.295 -33.3578 331.295 -32.5918 330.784 -32.0811L70.9189 227.784C70.6635 228.04 70.3444 228.167 70.0252 228.167Z' fill='%23FF8549'/%3E%3Cpath d='M51.4498 209.336C51.1306 209.336 50.8114 209.209 50.5561 208.953C50.0454 208.443 50.0454 207.677 50.5561 207.166L310.166 -52.444C310.677 -52.9547 311.443 -52.9547 311.954 -52.444C312.464 -51.9334 312.464 -51.1674 311.954 -50.6567L52.3434 208.953C52.0881 209.209 51.7689 209.336 51.4498 209.336Z' fill='%23FF8549'/%3E%3Cpath d='M35.619 187.825C35.2998 187.825 34.9806 187.697 34.7253 187.442C34.2146 186.931 34.2146 186.165 34.7253 185.654L288.654 -68.2747C289.165 -68.7854 289.931 -68.7854 290.442 -68.2747C290.952 -67.764 290.952 -66.998 290.442 -66.4874L36.5126 187.442C36.2573 187.697 35.9381 187.825 35.619 187.825Z' fill='%23FF8549'/%3E%3Cpath d='M22.7247 163.313C22.4055 163.313 22.0863 163.185 21.831 162.93C21.3203 162.419 21.3203 161.653 21.831 161.142L264.142 -81.169C264.653 -81.6797 265.419 -81.6797 265.93 -81.169C266.44 -80.6583 266.44 -79.8923 265.93 -79.3817L23.6183 162.93C23.363 163.185 23.0438 163.313 22.7247 163.313Z' fill='%23FF8549'/%3E%3Cpath d='M13.2134 135.481C12.8943 135.481 12.5751 135.354 12.3198 135.098C11.8091 134.588 11.8091 133.822 12.3198 133.311L236.311 -90.6801C236.822 -91.1908 237.588 -91.1908 238.098 -90.6801C238.609 -90.1694 238.609 -89.4034 238.098 -88.8928L14.1071 135.098C13.8518 135.354 13.5326 135.481 13.2134 135.481Z' fill='%23FF8549'/%3E%3Cpath d='M7.97906 103.309C7.65989 103.309 7.34073 103.182 7.08539 102.926C6.57473 102.416 6.57473 101.65 7.08539 101.139L204.139 -95.9145C204.65 -96.4252 205.416 -96.4252 205.926 -95.9145C206.437 -95.4038 206.437 -94.6378 205.926 -94.1272L8.87273 102.926C8.61739 103.182 8.29823 103.309 7.97906 103.309Z' fill='%23FF8549'/%3E%3Cpath d='M9.19195 64.6901C8.87278 64.6901 8.55362 64.5624 8.29828 64.3071C7.78762 63.7964 7.78762 63.0304 8.29828 62.5198L165.52 -94.7017C166.03 -95.2124 166.796 -95.2124 167.307 -94.7017C167.818 -94.1911 167.818 -93.4251 167.307 -92.9144L10.0856 64.3071C9.83028 64.5624 9.51112 64.6901 9.19195 64.6901Z' fill='%23FF8549'/%3E%3Cpath d='M24.9588 11.5808C24.6396 11.5808 24.3205 11.4531 24.0651 11.1978C23.5545 10.6871 23.5545 9.92113 24.0651 9.41047L112.41 -78.9349C112.921 -79.4455 113.687 -79.4455 114.198 -78.9349C114.708 -78.4242 114.708 -77.6582 114.198 -77.1475L25.8525 11.1978C25.5971 11.4531 25.278 11.5808 24.9588 11.5808Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover;

      z-index: -1;

      @media (max-width: $mobile) {
        width: 92px;
        min-height: 171px;
        left: calc(100% - 96px);
        margin-top: -72px;

        background-image: url("data:image/svg+xml,%3Csvg width='96' height='171' viewBox='0 0 96 171' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M94.734 167.865C94.5915 167.865 94.449 167.808 94.335 167.694C94.107 167.466 94.107 167.124 94.335 166.896L166.896 94.3351C167.124 94.1071 167.466 94.1071 167.694 94.3351C167.922 94.5631 167.922 94.9051 167.694 95.1331L95.133 167.694C95.019 167.808 94.8765 167.865 94.734 167.865Z' fill='%23FF8549'/%3E%3Cpath d='M77.8905 168.008C77.748 168.008 77.6055 167.951 77.4915 167.837C77.2635 167.609 77.2635 167.267 77.4915 167.039L167.038 77.4916C167.266 77.2636 167.609 77.2636 167.837 77.4916C168.065 77.7196 168.065 78.0616 167.837 78.2896L78.2895 167.837C78.1755 167.951 78.033 168.008 77.8905 168.008Z' fill='%23FF8549'/%3E%3Cpath d='M63.7545 165.442C63.612 165.442 63.4695 165.385 63.3555 165.271C63.1275 165.043 63.1275 164.701 63.3555 164.473L164.473 63.3554C164.701 63.1274 165.044 63.1274 165.272 63.3554C165.5 63.5834 165.5 63.9254 165.272 64.1534L64.1535 165.271C64.0395 165.385 63.897 165.442 63.7545 165.442Z' fill='%23FF8549'/%3E%3Cpath d='M51.4995 160.996C51.357 160.996 51.2145 160.939 51.1005 160.825C50.8725 160.597 50.8725 160.255 51.1005 160.027L160.027 51.1004C160.256 50.8724 160.597 50.8724 160.825 51.1004C161.053 51.3284 161.053 51.6704 160.825 51.8984L51.8985 160.825C51.7845 160.939 51.642 160.996 51.4995 160.996Z' fill='%23FF8549'/%3E%3Cpath d='M40.755 155.069C40.6125 155.069 40.47 155.012 40.356 154.898C40.128 154.67 40.128 154.328 40.356 154.1L154.1 40.3561C154.327 40.1281 154.669 40.1281 154.897 40.3561C155.125 40.5841 155.125 40.9261 154.897 41.1541L41.154 154.898C41.04 155.012 40.8975 155.069 40.755 155.069Z' fill='%23FF8549'/%3E%3Cpath d='M31.2645 147.858C31.122 147.858 30.9795 147.801 30.8655 147.687C30.6375 147.459 30.6375 147.117 30.8655 146.889L146.889 30.8655C147.117 30.6375 147.459 30.6375 147.687 30.8655C147.915 31.0935 147.915 31.4355 147.687 31.6635L31.6635 147.687C31.5495 147.801 31.407 147.858 31.2645 147.858Z' fill='%23FF8549'/%3E%3Cpath d='M22.971 139.45C22.8285 139.45 22.686 139.394 22.572 139.28C22.344 139.051 22.344 138.709 22.572 138.481L138.481 22.572C138.709 22.344 139.051 22.344 139.28 22.572C139.507 22.8 139.507 23.142 139.28 23.37L23.37 139.28C23.256 139.394 23.1135 139.45 22.971 139.45Z' fill='%23FF8549'/%3E%3Cpath d='M15.903 129.846C15.7605 129.846 15.618 129.789 15.504 129.675C15.276 129.447 15.276 129.105 15.504 128.877L128.877 15.504C129.105 15.276 129.447 15.276 129.675 15.504C129.903 15.732 129.903 16.074 129.675 16.302L16.302 129.675C16.188 129.789 16.0455 129.846 15.903 129.846Z' fill='%23FF8549'/%3E%3Cpath d='M10.146 118.902C10.0035 118.902 9.86099 118.845 9.74699 118.731C9.51899 118.503 9.51899 118.161 9.74699 117.933L117.933 9.74705C118.161 9.51905 118.503 9.51905 118.731 9.74705C118.959 9.97505 118.959 10.317 118.731 10.545L10.545 118.731C10.431 118.845 10.2885 118.902 10.146 118.902Z' fill='%23FF8549'/%3E%3Cpath d='M5.89953 106.476C5.75703 106.476 5.61453 106.419 5.50053 106.305C5.27253 106.077 5.27253 105.735 5.50053 105.507L105.507 5.50047C105.735 5.27247 106.077 5.27247 106.305 5.50047C106.533 5.72847 106.533 6.07047 106.305 6.29847L6.29853 106.305C6.18453 106.419 6.04203 106.476 5.89953 106.476Z' fill='%23FF8549'/%3E%3Cpath d='M3.56249 92.1121C3.41999 92.1121 3.27749 92.0551 3.16349 91.9411C2.93549 91.7131 2.93549 91.371 3.16349 91.1431L91.143 3.16355C91.371 2.93555 91.713 2.93555 91.941 3.16355C92.169 3.39155 92.169 3.73355 91.941 3.96155L3.96149 91.9411C3.84749 92.0551 3.70499 92.1121 3.56249 92.1121Z' fill='%23FF8549'/%3E%3Cpath d='M4.104 74.8696C3.9615 74.8696 3.819 74.8126 3.705 74.6986C3.477 74.4706 3.477 74.1286 3.705 73.9006L73.9005 3.70506C74.1285 3.47706 74.4705 3.47706 74.6985 3.70506C74.9265 3.93306 74.9265 4.27506 74.6985 4.50306L4.503 74.6986C4.389 74.8126 4.2465 74.8696 4.104 74.8696Z' fill='%23FF8549'/%3E%3Cpath d='M11.1435 51.1575C11.001 51.1575 10.8585 51.1005 10.7445 50.9865C10.5165 50.7585 10.5165 50.4165 10.7445 50.1885L50.1885 10.7445C50.4165 10.5165 50.7585 10.5165 50.9865 10.7445C51.2145 10.9725 51.2145 11.3145 50.9865 11.5425L11.5425 50.9865C11.4285 51.1005 11.286 51.1575 11.1435 51.1575Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      }
    }
  }

  #projetos_into {
    h2 {
      font-weight: 700;
      font-size: px-to-rem(52px);
      line-height: 63px;
      color: #024420;

      background: #FF8549;

      padding: 1px 13px 0px 13px;
      width: max-content;

      @media (max-width: $mobile) {
        font-size: px-to-rem(28px);
        line-height: 34px;

        padding: 1px 7px 0px 7px;

        margin-bottom: 18px;
      }
    }

    .row {
      gap: 101px;

      @media (max-width: $mobile) {
        gap: 0px;
      }
    }

    .title {
      width: 41%;

      @media (max-width: $mobile) {
        width: 100%;
      }
    }

    .content {
      max-width: 453px;

      @media (max-width: $mobile) {
        width: 100%;
        max-width: 100%;
      }

      p {
        font-weight: 400;
        font-size: px-to-rem(18px);
        line-height: 150%;
        color: #000000;

        @media (max-width: $mobile) {
          font-weight: 400;
          font-size: px-to-rem(16px);
        }
      }
    }
  }

  #projetos {
    margin-top: 36px;

    @media (max-width: $mobile) {
      margin-top: 16px;
    }

    #projetos_list {
      width: 100%;

      .projeto-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);

        .projeto-header {
          display: flex;
          justify-content: space-between;
          position: relative;
          padding: 24px 0px 29px 0px;

          @media (max-width: $mobile) {
            padding: 24px 0px 11px 0px;
          }

          .title {
            font-weight: 700;
            font-size: px-to-rem(24px);
            line-height: 150%;
            color: #008048;

            @media (max-width: $mobile) {
              font-size: px-to-rem(18px);
              max-width: 225px;
            }
          }

          button {
            display: flex;
            align-items: end;
            justify-content: center;
            text-align: center;

            width: 64px;
            height: 53px;
            position: absolute;
            right: 0px;
            bottom: 12px;

            border: 0px;
            cursor: pointer;

            background-color: transparent;
            background-position: top center;
            background-repeat: no-repeat;

            &[aria-expanded="false"] {
              background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23E3E6D1'/%3E%3Cpath d='M16 11V21' stroke='%23024420' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M21 16L11 16' stroke='%23024420' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            }

            &[aria-expanded="true"] {
              background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23E3E6D1'/%3E%3Cpath d='M21 16L11 16' stroke='%23024420' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            }

            .text {
              font-weight: 400;
              font-size: px-to-rem(12px);
              line-height: 15px;
              color: #024420;
            }

          }
        }

        .projeto-content {
          display: flex;
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.3s ease;

          @media (max-width: $mobile) {
            flex-direction: column;
          }

          .text {
            max-width: 640px;
            margin-bottom: 48px;


            p {
              font-weight: 400;
              font-size: px-to-rem(18px);
              line-height: 150%;
              color: #000000;

              margin-bottom: 27px;

              @media (max-width: $mobile) {
                font-size: px-to-rem(16px);
                margin-bottom: 24px;
              }

              &:last-child {
                margin-bottom: 0px;
              }
            }
          }

          .imagem {
            text-align: center;

            img {
              margin-bottom: 16px;

            }
          }

        }
      }
    }
  }

  #nossa_presenca {
    h2 {
      font-weight: 700;
      font-size: px-to-rem(52px);
      line-height: 63px;
      color: #024420;

      background: #00D176;

      padding: 1px 13px 0px 13px;
      margin-bottom: 39px;
      width: max-content;

      @media (max-width: $mobile) {
        font-size: px-to-rem(28px);
        line-height: 34px;

        padding: 1px 7px 0px 7px;

        margin-bottom: 18px;
      }
    }


    .content {
      display: flex;
      justify-content: center;

      @media (max-width: $mobile) {
        justify-content: start;
      }

      p {
        font-weight: 400;
        font-size: px-to-rem(18px);
        line-height: 150%;
        color: #000000;

        @media (max-width: $mobile) {
          font-weight: 400;
          font-size: px-to-rem(16px);
        }
      }
    }
  }

  #galeria {
    background-color: #E3E6D1;

    margin-top: 58px;
    padding: 69px 0px 69px 0px;

    @media (max-width: $mobile) {
      margin-top: 60px;
      padding: 45px 0px 45px 0px;
    }

    h2 {
      font-weight: 700;
      font-size: px-to-rem(52px);
      line-height: 63px;
      color: #024420;

      background: #FF8549;

      padding: 1px 13px 0px 13px;
      margin-bottom: 39px;
      width: max-content;

      @media (max-width: $mobile) {
        font-size: px-to-rem(28px);
        line-height: 34px;

        padding: 1px 7px 0px 7px;

        margin-bottom: 18px;
      }
    }


    .content {
      display: flex;
      justify-content: center;

      @media (max-width: $mobile) {
        justify-content: start;
      }

      p {
        font-weight: 400;
        font-size: px-to-rem(18px);
        line-height: 150%;
        color: #000000;

        @media (max-width: $mobile) {
          font-weight: 400;
          font-size: px-to-rem(16px);
        }
      }
    }

    #galeria_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 31px 24px;

      @media (max-width: $mobile) {
        grid-template-columns: repeat(1, 1fr);
      }

      .galeria-item {
        figure {

          figcaption {
            background-color: #024420;
  
            font-weight: 400;
            font-size: px-to-rem(18px);
            line-height: 150%;
            color: #FFFFFF;
  
            padding: 13px 18px;
  
            @media (max-width: $mobile) {
              font-size: px-to-rem(16px);
  
              padding: 13px 11px;
            }
          }
  
          img {
            @media (max-width: $mobile) {
              max-width: 100%;
              height: auto;
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  #selos_e_certificacoes {
    margin: 49px 0px 98px 0px;

    h2 {
      font-weight: 700;
      font-size: px-to-rem(52px);
      line-height: 63px;
      color: #024420;

      background: #00D176;

      padding: 1px 13px 0px 13px;
      margin-bottom: 56px;
      width: max-content;

      @media (max-width: $mobile) {
        font-size: px-to-rem(28px);
        line-height: 34px;

        padding: 1px 7px 0px 7px;

        margin-bottom: 18px;
      }
    }

    #selo_list {
      display: flex;
      justify-content: center;
      gap: 10px;

      @media (max-width: $mobile) {
        gap: 9px;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: -4.5px;
      }

      .selo-item {
        @media (max-width: $mobile) {
          flex: 0 1 calc(33.33% - 9px);

          img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
          }
        }
      }
    }
  }

  .separator {
    margin: 64px 0px 51px 0px;
    display: block;
    width: 100%;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='98' height='24' viewBox='0 0 98 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='85.0435' cy='12' r='12' fill='%23024420'/%3E%3Ccircle cx='48.5218' cy='12' r='12' fill='%2300D176'/%3E%3Ccircle cx='12' cy='12' r='12' fill='%23FF8549'/%3E%3C/svg%3E%0A");

    @media (max-width: $mobile) {
      margin: 40px 0px 41px 0px;
      background-image: url("data:image/svg+xml,%3Csvg width='65' height='16' viewBox='0 0 65 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='56.6956' cy='8' rx='8' ry='8' fill='%23024420'/%3E%3Cellipse cx='32.3479' cy='8' rx='8' ry='8' fill='%2300D176'/%3E%3Cellipse cx='8' cy='8' rx='8' ry='8' fill='%23FF8549'/%3E%3C/svg%3E%0A");
    }
  }

}