body {
  font-size: 16px;
  font-family: "Montserrat", system-ui;
}

.skip-link, .screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
.row {
  display: flex;
  width: 100%; 
}

.col {
  flex: 1; 
}

hr {
  border: none; 
  border-top: 0.5px solid black; 
  margin: 20px 0; 
}

.external-link::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.22226 10.0001H1.66667C1.22145 10.0001 0.802924 9.8267 0.488143 9.5119C0.173362 9.19709 0 8.77855 0 8.33339V2.7778C0 2.3326 0.173382 1.91407 0.488163 1.59929C0.802944 1.28451 1.22147 1.11113 1.66669 1.11113H3.88892C4.19577 1.11113 4.44448 1.35985 4.44448 1.66669C4.44448 1.97353 4.19577 2.22225 3.88892 2.22225H1.66667C1.51826 2.22225 1.37877 2.28005 1.27385 2.38496C1.16894 2.48987 1.11113 2.62939 1.11113 2.7778V8.33339C1.11113 8.48179 1.16892 8.62129 1.27385 8.72624C1.37877 8.83114 1.51826 8.88895 1.66667 8.88895H7.22224C7.37065 8.88895 7.51014 8.83116 7.61508 8.7262C7.71999 8.62129 7.77778 8.48177 7.77778 8.33337V6.11116C7.77778 5.80431 8.02652 5.55561 8.33337 5.55561C8.64021 5.55561 8.88895 5.80433 8.88895 6.11116V8.33339C8.88895 8.77858 8.71557 9.19709 8.40077 9.51191C8.08597 9.8267 7.66742 10.0001 7.22226 10.0001ZM3.88892 6.6667C3.74673 6.6667 3.60455 6.61248 3.49609 6.50399C3.27914 6.28704 3.27914 5.93525 3.49609 5.7183L8.10324 1.11113H6.11115C5.80431 1.11113 5.55561 0.862407 5.55561 0.555563C5.55561 0.24872 5.80431 0 6.11115 0H9.44451C9.52135 0 9.59453 0.0156032 9.66109 0.0438015C9.72322 0.0700785 9.78155 0.108155 9.83259 0.15805L9.83263 0.158089C9.833 0.158458 9.83337 0.158807 9.83372 0.159176C9.83382 0.159273 9.83395 0.159389 9.83405 0.159486C9.83432 0.159758 9.83463 0.160049 9.8349 0.16034C9.8351 0.160534 9.83527 0.160709 9.83547 0.160903C9.83568 0.161117 9.83591 0.161349 9.83609 0.161524C9.83648 0.161912 9.8369 0.16232 9.83729 0.162727C9.83768 0.163116 9.83811 0.163542 9.83849 0.163931C9.83871 0.164125 9.83894 0.164377 9.8391 0.164552C9.83931 0.164746 9.83946 0.16492 9.83966 0.165114C9.83997 0.165406 9.84024 0.165677 9.84051 0.165988C9.84061 0.166065 9.84074 0.166201 9.84082 0.166298C9.84119 0.166667 9.84156 0.167036 9.84191 0.167404L9.84195 0.167443C9.89182 0.218522 9.92992 0.27686 9.95618 0.338962C9.98438 0.405528 10 0.478692 10 0.555544V3.8889C10 4.19575 9.75126 4.44447 9.44442 4.44447C9.13757 4.44447 8.88887 4.19575 8.88887 3.8889V1.89682L4.28166 6.50401C4.17327 6.61249 4.0311 6.6667 3.88892 6.6667Z' fill='black'/%3E%3C/svg%3E%0A");
}

.read-more {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: px-to-rem(18px);
  line-height: 22px;
  text-decoration-line: underline;
  color: #008048;

  @media (max-width: $mobile) {
    font-size: px-to-rem(16px);
    line-height: 20px;
  }
}

.read-more-2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: px-to-rem(18px);
  line-height: 22px;
  text-decoration-line: underline;
  color: #E3E6D1;

  @media (max-width: $mobile) {
    font-size: px-to-rem(16px);
    line-height: 20px;
  }
}

.desktop-only {
  @media (max-width: $mobile) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}