@use 'sass:math';

.page-template-our-history-template {
  .breadcrumb {
    .bg {
      display: block;
      position: absolute;
      right: 0;
      margin-top: -37px;

      width: calc(#{math.div(376px, $base-width) * 100} * 1vw);
      height: calc(#{math.div(200px, $base-width) * 100} * 1vw);

      background-image: url("data:image/svg+xml,%3Csvg width='376' height='200' viewBox='0 0 376 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M248.51 98.9277C248.041 98.9277 247.571 98.7413 247.195 98.3683L176.541 28.1585L105.793 98.3683C105.135 99.021 103.914 99.021 103.162 98.3683L31.0991 26.8531C30.3475 26.1072 30.3475 24.9883 31.0991 24.2424C31.8508 23.4965 32.9782 23.4965 33.7299 24.2424L104.478 94.4522L175.226 24.2424C175.602 23.8695 176.071 23.683 176.541 23.683C177.011 23.683 177.481 23.8695 177.856 24.2424L248.51 94.4522L318.789 24.2424C319.164 23.8695 319.634 23.683 320.104 23.683C320.574 23.683 321.043 23.8695 321.419 24.2424L392.167 94.4522L462.915 24.2424C463.573 23.5897 464.794 23.5897 465.546 24.2424L536.294 94.4522L607.042 24.2424C607.793 23.4965 608.921 23.4965 609.672 24.2424C610.424 24.9883 610.424 26.1072 609.672 26.8531L537.609 98.3683C536.857 99.1142 535.73 99.1142 534.978 98.3683L464.23 28.1585L393.483 98.3683C392.825 99.021 391.603 99.021 390.852 98.3683L320.104 28.1585L249.826 98.3683C249.45 98.7413 248.98 98.9277 248.51 98.9277Z' fill='%23FF8549'/%3E%3Cpath d='M248.51 176.13C248.041 176.13 247.571 175.944 247.195 175.571L176.541 105.361L105.793 175.571C105.135 176.224 103.914 176.224 103.162 175.571L31.0991 104.056C30.3475 103.31 30.3475 102.191 31.0991 101.445C31.8508 100.699 32.9782 100.699 33.7299 101.445L104.478 171.655L175.226 101.445C175.602 101.072 176.071 100.886 176.541 100.886C177.011 100.886 177.481 101.072 177.856 101.445L248.51 171.655L318.789 101.445C319.164 101.072 319.634 100.886 320.104 100.886C320.574 100.886 321.043 101.072 321.419 101.445L392.167 171.655L462.915 101.445C463.573 100.793 464.794 100.793 465.546 101.445L536.294 171.655L607.042 101.445C607.793 100.699 608.921 100.699 609.672 101.445C610.424 102.191 610.424 103.31 609.672 104.056L537.609 175.571C536.857 176.317 535.73 176.317 534.978 175.571L464.23 105.361L393.483 175.571C392.825 176.224 391.603 176.224 390.852 175.571L320.104 105.361L249.826 175.571C249.45 175.944 248.98 176.13 248.51 176.13Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover;

      z-index: -1;
  
      @media (max-width: $mobile) {
        width: 132px;
        min-height: 70px;
        left: calc(100% - 132px);
        margin-top: -39px;

        background-image: url("data:image/svg+xml,%3Csvg width='132' height='70' viewBox='0 0 132 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M87.0376 34.6247C86.8731 34.6247 86.7086 34.5595 86.577 34.4289L61.8313 9.8555L37.0527 34.4289C36.8223 34.6574 36.3946 34.6574 36.1313 34.4289L10.892 9.39862C10.6288 9.13755 10.6288 8.74594 10.892 8.48487C11.1553 8.22379 11.5501 8.22379 11.8134 8.48487L36.592 33.0583L61.3706 8.48487C61.5022 8.35433 61.6667 8.28906 61.8313 8.28906C61.9958 8.28906 62.1603 8.35433 62.292 8.48487L87.0376 33.0583L111.652 8.48487C111.783 8.35433 111.948 8.28906 112.112 8.28906C112.277 8.28906 112.441 8.35433 112.573 8.48487L137.352 33.0583L162.13 8.48487C162.361 8.25643 162.788 8.25643 163.052 8.48487L187.83 33.0583L212.609 8.48487C212.872 8.22379 213.267 8.22379 213.53 8.48487C213.793 8.74594 213.793 9.13755 213.53 9.39862L188.291 34.4289C188.028 34.69 187.633 34.69 187.37 34.4289L162.591 9.8555L137.812 34.4289C137.582 34.6574 137.154 34.6574 136.891 34.4289L112.112 9.8555L87.4983 34.4289C87.3667 34.5595 87.2022 34.6247 87.0376 34.6247Z' fill='%23FF8549'/%3E%3Cpath d='M87.0376 61.6457C86.8731 61.6457 86.7086 61.5805 86.577 61.4499L61.8313 36.8765L37.0527 61.4499C36.8223 61.6784 36.3946 61.6784 36.1313 61.4499L10.892 36.4196C10.6288 36.1585 10.6288 35.7669 10.892 35.5059C11.1553 35.2448 11.5501 35.2448 11.8134 35.5059L36.592 60.0793L61.3706 35.5059C61.5022 35.3753 61.6667 35.3101 61.8313 35.3101C61.9958 35.3101 62.1603 35.3753 62.292 35.5059L87.0376 60.0793L111.652 35.5059C111.783 35.3753 111.948 35.3101 112.112 35.3101C112.277 35.3101 112.441 35.3753 112.573 35.5059L137.352 60.0793L162.13 35.5059C162.361 35.2774 162.788 35.2774 163.052 35.5059L187.83 60.0793L212.609 35.5059C212.872 35.2448 213.267 35.2448 213.53 35.5059C213.793 35.7669 213.793 36.1585 213.53 36.4196L188.291 61.4499C188.028 61.711 187.633 61.711 187.37 61.4499L162.591 36.8765L137.812 61.4499C137.582 61.6784 137.154 61.6784 136.891 61.4499L112.112 36.8765L87.4983 61.4499C87.3667 61.5805 87.2022 61.6457 87.0376 61.6457Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      }
    }
  }

  #historia_1 {

    margin-bottom: 37px;

    @media (max-width: $mobile) {
      margin-bottom: 29px;
    }

    .row {
      gap: 68px;

      @media (max-width: $mobile) {
        gap: 7px;
      }
    }

    .texto-esquerda {
      font-weight: 400;
      font-size: px-to-rem(18px);
      line-height: 150%;
      color: $black;

      min-width: 548px;

      @media (max-width: $mobile) {
        min-width: 100%;
        font-size: px-to-rem(16px);
        line-height: 150%;
      }

      p {
        font-weight: 400;
        font-size: px-to-rem(18px);
        line-height: 150%;
        color: $black;

        margin-bottom: 10px;

        @media (max-width: $mobile) {
          font-size: px-to-rem(16px);
          line-height: 150%;
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    .imagem-direita {
      @media (max-width: $mobile) {
        margin-top: 16px;
      }
    }
  }

  #historia_2 {

    margin-bottom: 102px;

    @media (max-width: $mobile) {
      margin-bottom: 10px;
    }

    .row {
      gap: 10px;
    }

    .texto-direita {
      font-weight: 400;
      font-size: px-to-rem(18px);
      line-height: 150%;
      color: $black;

      margin-top: 30px;
      max-width: 545px;

      @media (max-width: $mobile) {
        font-size: px-to-rem(16px);
        line-height: 150%;

        max-width: 100%;
      }

      p {
        font-weight: 400;
        font-size: px-to-rem(18px);
        line-height: 150%;
        color: $black;

        margin-bottom: 20px;

        @media (max-width: $mobile) {
          font-size: px-to-rem(16px);
          line-height: 150%;
        }
      }

      @media (max-width: $mobile) {
        order: 1;
        margin-top: 0px;
      }
    }

    .imagem-esquerda {
      @media (max-width: $mobile) {
        order: 2;
      }

      img {
        position: absolute;
        left: 0;

        @media (max-width: $mobile) {
          position: relative;
          margin-top: -20px;
        }
      }
    }
  }

  #video {
    margin-bottom: 81px;

    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }

    .video-embled {
      display: flex;
      justify-content: center;

      iframe {
        min-width: 925px;

        @media (max-width: $mobile) {
          min-width: 327.13px;
          max-height: 194px;
        }
      }
    }
  }

  .separator {
    margin: 28px 0px 28px 0px;
    display: block;
    width: 100%;
    height: 24px;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("data:image/svg+xml,%3Csvg width='98' height='24' viewBox='0 0 98 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='85.0435' cy='12' r='12' fill='%23024420'/%3E%3Ccircle cx='48.5218' cy='12' r='12' fill='%2300D176'/%3E%3Ccircle cx='12' cy='12' r='12' fill='%23FF8549'/%3E%3C/svg%3E%0A");
  
    @media (max-width: $mobile) {
      order: 3;
      margin: 17px 0px 23px 0px;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='65' height='16' viewBox='0 0 65 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='56.6956' cy='8' rx='8' ry='8' fill='%23024420'/%3E%3Cellipse cx='32.3479' cy='8' rx='8' ry='8' fill='%2300D176'/%3E%3Cellipse cx='8' cy='8' rx='8' ry='8' fill='%23FF8549'/%3E%3C/svg%3E%0A");
    }
  }
}