@use 'sass:math';

.page-template-support-template {
  .breadcrumb {
    .bg {
      display: block;
      position: absolute;
      right: 0;
      
      width: calc(#{math.div(313px, $base-width) * 100} * 1vw);
      height: calc(#{math.div(280px, $base-width) * 100} * 1vw);
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg width='313' height='280' viewBox='0 0 313 280' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M262.546 259.956C262.227 259.956 261.908 259.829 261.653 259.573C261.142 259.063 261.142 258.297 261.653 257.786L360.786 158.653C361.296 158.142 362.062 158.142 362.573 158.653C363.084 159.163 363.084 159.929 362.573 160.44L263.44 259.573C263.185 259.829 262.865 259.956 262.546 259.956Z' fill='%23FF8549'/%3E%3Cpath d='M212.182 272.978C211.863 272.978 211.544 272.851 211.288 272.595C210.778 272.085 210.778 271.319 211.288 270.808L373.808 108.288C374.319 107.778 375.085 107.778 375.595 108.288C376.106 108.799 376.106 109.565 375.595 110.076L213.076 272.595C212.82 272.851 212.501 272.978 212.182 272.978Z' fill='%23FF8549'/%3E%3Cpath d='M174.456 273.297C174.137 273.297 173.818 273.17 173.563 272.914C173.052 272.404 173.052 271.638 173.563 271.127L374.127 70.5628C374.638 70.0521 375.404 70.0521 375.914 70.5628C376.425 71.0735 376.425 71.8395 375.914 72.3502L175.35 272.914C175.095 273.17 174.776 273.297 174.456 273.297Z' fill='%23FF8549'/%3E%3Cpath d='M142.795 267.552C142.476 267.552 142.157 267.425 141.902 267.169C141.391 266.659 141.391 265.893 141.902 265.382L368.382 38.9014C368.893 38.3908 369.659 38.3908 370.17 38.9014C370.68 39.4121 370.68 40.1781 370.17 40.6888L143.689 267.169C143.434 267.425 143.114 267.552 142.795 267.552Z' fill='%23FF8549'/%3E%3Cpath d='M115.347 257.595C115.028 257.595 114.709 257.467 114.453 257.212C113.943 256.701 113.943 255.935 114.453 255.424L358.424 11.4532C358.935 10.9425 359.701 10.9425 360.212 11.4532C360.722 11.9639 360.722 12.7299 360.212 13.2405L116.241 257.212C115.985 257.467 115.666 257.595 115.347 257.595Z' fill='%23FF8549'/%3E%3Cpath d='M91.2815 244.317C90.9624 244.317 90.6432 244.19 90.3879 243.934C89.8772 243.424 89.8772 242.658 90.3879 242.147L345.147 -12.612C345.657 -13.1227 346.423 -13.1227 346.934 -12.612C347.445 -12.1013 347.445 -11.3353 346.934 -10.8247L92.1752 243.934C91.9199 244.19 91.6007 244.317 91.2815 244.317Z' fill='%23FF8549'/%3E%3Cpath d='M70.0247 228.167C69.7055 228.167 69.3864 228.04 69.131 227.784C68.6204 227.274 68.6204 226.508 69.131 225.997L328.997 -33.8685C329.507 -34.3791 330.273 -34.3791 330.784 -33.8685C331.295 -33.3578 331.295 -32.5918 330.784 -32.0811L70.9184 227.784C70.663 228.04 70.3439 228.167 70.0247 228.167Z' fill='%23FF8549'/%3E%3Cpath d='M51.4495 209.336C51.1304 209.336 50.8112 209.209 50.5559 208.953C50.0452 208.443 50.0452 207.677 50.5559 207.166L310.166 -52.444C310.677 -52.9547 311.443 -52.9547 311.953 -52.444C312.464 -51.9334 312.464 -51.1674 311.953 -50.6567L52.3432 208.953C52.0879 209.209 51.7687 209.336 51.4495 209.336Z' fill='%23FF8549'/%3E%3Cpath d='M35.6194 187.825C35.3003 187.825 34.9811 187.697 34.7258 187.442C34.2151 186.931 34.2151 186.165 34.7258 185.654L288.655 -68.2747C289.165 -68.7854 289.931 -68.7854 290.442 -68.2747C290.953 -67.764 290.953 -66.998 290.442 -66.4874L36.5131 187.442C36.2578 187.697 35.9386 187.825 35.6194 187.825Z' fill='%23FF8549'/%3E%3Cpath d='M22.7249 163.313C22.4057 163.313 22.0866 163.185 21.8312 162.93C21.3206 162.419 21.3206 161.653 21.8312 161.142L264.143 -81.169C264.653 -81.6797 265.419 -81.6797 265.93 -81.169C266.441 -80.6583 266.441 -79.8923 265.93 -79.3817L23.6186 162.93C23.3632 163.185 23.0441 163.313 22.7249 163.313Z' fill='%23FF8549'/%3E%3Cpath d='M13.2132 135.481C12.894 135.481 12.5749 135.354 12.3195 135.098C11.8089 134.588 11.8089 133.822 12.3195 133.311L236.311 -90.6801C236.821 -91.1908 237.587 -91.1908 238.098 -90.6801C238.609 -90.1694 238.609 -89.4034 238.098 -88.8928L14.1069 135.098C13.8515 135.354 13.5324 135.481 13.2132 135.481Z' fill='%23FF8549'/%3E%3Cpath d='M7.97881 103.309C7.65965 103.309 7.34048 103.182 7.08515 102.926C6.57448 102.416 6.57448 101.65 7.08515 101.139L204.139 -95.9145C204.649 -96.4252 205.415 -96.4252 205.926 -95.9145C206.437 -95.4038 206.437 -94.6378 205.926 -94.1272L8.87248 102.926C8.61715 103.182 8.29798 103.309 7.97881 103.309Z' fill='%23FF8549'/%3E%3Cpath d='M9.19171 64.6901C8.87254 64.6901 8.55337 64.5624 8.29804 64.3071C7.78737 63.7964 7.78737 63.0304 8.29804 62.5198L165.52 -94.7017C166.03 -95.2124 166.796 -95.2124 167.307 -94.7017C167.818 -94.1911 167.818 -93.4251 167.307 -92.9144L10.0854 64.3071C9.83004 64.5624 9.51087 64.6901 9.19171 64.6901Z' fill='%23FF8549'/%3E%3Cpath d='M24.9593 11.5808C24.6401 11.5808 24.321 11.4531 24.0656 11.1978C23.555 10.6871 23.555 9.92113 24.0656 9.41047L112.411 -78.9349C112.922 -79.4455 113.688 -79.4455 114.198 -78.9349C114.709 -78.4242 114.709 -77.6582 114.198 -77.1475L25.853 11.1978C25.5976 11.4531 25.2784 11.5808 24.9593 11.5808Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: top right;

      margin-top: -93px;
      z-index: -1;

      @media (max-width: $mobile) {
        width: 92px;
        min-height: 171px;
        left: calc(100% - 96px);
        margin-top: -72px;

        background-image: url("data:image/svg+xml,%3Csvg width='96' height='171' viewBox='0 0 96 171' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M94.734 167.865C94.5915 167.865 94.449 167.808 94.335 167.694C94.107 167.466 94.107 167.124 94.335 166.896L166.896 94.3351C167.124 94.1071 167.466 94.1071 167.694 94.3351C167.922 94.5631 167.922 94.9051 167.694 95.1331L95.133 167.694C95.019 167.808 94.8765 167.865 94.734 167.865Z' fill='%23FF8549'/%3E%3Cpath d='M77.8905 168.008C77.748 168.008 77.6055 167.951 77.4915 167.837C77.2635 167.609 77.2635 167.267 77.4915 167.039L167.038 77.4916C167.266 77.2636 167.609 77.2636 167.837 77.4916C168.065 77.7196 168.065 78.0616 167.837 78.2896L78.2895 167.837C78.1755 167.951 78.033 168.008 77.8905 168.008Z' fill='%23FF8549'/%3E%3Cpath d='M63.7545 165.442C63.612 165.442 63.4695 165.385 63.3555 165.271C63.1275 165.043 63.1275 164.701 63.3555 164.473L164.473 63.3554C164.701 63.1274 165.044 63.1274 165.272 63.3554C165.5 63.5834 165.5 63.9254 165.272 64.1534L64.1535 165.271C64.0395 165.385 63.897 165.442 63.7545 165.442Z' fill='%23FF8549'/%3E%3Cpath d='M51.4995 160.996C51.357 160.996 51.2145 160.939 51.1005 160.825C50.8725 160.597 50.8725 160.255 51.1005 160.027L160.027 51.1004C160.256 50.8724 160.597 50.8724 160.825 51.1004C161.053 51.3284 161.053 51.6704 160.825 51.8984L51.8985 160.825C51.7845 160.939 51.642 160.996 51.4995 160.996Z' fill='%23FF8549'/%3E%3Cpath d='M40.755 155.069C40.6125 155.069 40.47 155.012 40.356 154.898C40.128 154.67 40.128 154.328 40.356 154.1L154.1 40.3561C154.327 40.1281 154.669 40.1281 154.897 40.3561C155.125 40.5841 155.125 40.9261 154.897 41.1541L41.154 154.898C41.04 155.012 40.8975 155.069 40.755 155.069Z' fill='%23FF8549'/%3E%3Cpath d='M31.2645 147.858C31.122 147.858 30.9795 147.801 30.8655 147.687C30.6375 147.459 30.6375 147.117 30.8655 146.889L146.889 30.8655C147.117 30.6375 147.459 30.6375 147.687 30.8655C147.915 31.0935 147.915 31.4355 147.687 31.6635L31.6635 147.687C31.5495 147.801 31.407 147.858 31.2645 147.858Z' fill='%23FF8549'/%3E%3Cpath d='M22.971 139.45C22.8285 139.45 22.686 139.394 22.572 139.28C22.344 139.051 22.344 138.709 22.572 138.481L138.481 22.572C138.709 22.344 139.051 22.344 139.28 22.572C139.507 22.8 139.507 23.142 139.28 23.37L23.37 139.28C23.256 139.394 23.1135 139.45 22.971 139.45Z' fill='%23FF8549'/%3E%3Cpath d='M15.903 129.846C15.7605 129.846 15.618 129.789 15.504 129.675C15.276 129.447 15.276 129.105 15.504 128.877L128.877 15.504C129.105 15.276 129.447 15.276 129.675 15.504C129.903 15.732 129.903 16.074 129.675 16.302L16.302 129.675C16.188 129.789 16.0455 129.846 15.903 129.846Z' fill='%23FF8549'/%3E%3Cpath d='M10.146 118.902C10.0035 118.902 9.86099 118.845 9.74699 118.731C9.51899 118.503 9.51899 118.161 9.74699 117.933L117.933 9.74705C118.161 9.51905 118.503 9.51905 118.731 9.74705C118.959 9.97505 118.959 10.317 118.731 10.545L10.545 118.731C10.431 118.845 10.2885 118.902 10.146 118.902Z' fill='%23FF8549'/%3E%3Cpath d='M5.8995 106.476C5.757 106.476 5.6145 106.419 5.5005 106.305C5.2725 106.077 5.2725 105.735 5.5005 105.507L105.507 5.50047C105.735 5.27247 106.077 5.27247 106.305 5.50047C106.533 5.72847 106.533 6.07047 106.305 6.29847L6.2985 106.305C6.1845 106.419 6.042 106.476 5.8995 106.476Z' fill='%23FF8549'/%3E%3Cpath d='M3.56249 92.1121C3.41999 92.1121 3.27749 92.0551 3.16349 91.9411C2.93549 91.7131 2.93549 91.371 3.16349 91.1431L91.143 3.16355C91.371 2.93555 91.713 2.93555 91.941 3.16355C92.169 3.39155 92.169 3.73355 91.941 3.96155L3.96149 91.9411C3.84749 92.0551 3.70499 92.1121 3.56249 92.1121Z' fill='%23FF8549'/%3E%3Cpath d='M4.104 74.8696C3.9615 74.8696 3.819 74.8126 3.705 74.6986C3.477 74.4706 3.477 74.1286 3.705 73.9006L73.9005 3.70506C74.1285 3.47706 74.4705 3.47706 74.6985 3.70506C74.9265 3.93306 74.9265 4.27506 74.6985 4.50306L4.503 74.6986C4.389 74.8126 4.2465 74.8696 4.104 74.8696Z' fill='%23FF8549'/%3E%3Cpath d='M11.1435 51.1575C11.001 51.1575 10.8585 51.1005 10.7445 50.9865C10.5165 50.7585 10.5165 50.4165 10.7445 50.1885L50.1885 10.7445C50.4165 10.5165 50.7585 10.5165 50.9865 10.7445C51.2145 10.9725 51.2145 11.3145 50.9865 11.5425L11.5425 50.9865C11.4285 51.1005 11.286 51.1575 11.1435 51.1575Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      }
    }
  }

  #doacoes {
    h2 {
      font-weight: 700;
      font-size: px-to-rem(52px);
      line-height: 63px;
      color: $green-dark;

      background: $orange;

      padding: 1px 13px 0px 13px;
      width: max-content;

      @media (max-width: $mobile) {
        font-size: px-to-rem(28px);
        line-height: 34px;

        background-color: $gree-light;

        padding: 1px 7px 0px 7px;

        margin-bottom: 18px;
      }
    }

    .row {
      gap: 213px;

      @media (max-width: $mobile) {
        gap: 0px;
      }
    }

    .title {
      width: 41%;
      max-width: 373px;

      padding-left: 80px;

      @media (max-width: $mobile) {
        width: 100%;
        padding-left: 0px;
      }

      h2 {
        margin: 0px 0px 21px 0px;
      }

      .content {
        padding-left: 13px;

        @media (max-width: $mobile) {
          width: 100%;
          max-width: 100%;
          padding-left: 0px;
        }
  
        p {
          font-weight: 400;
          font-size: px-to-rem(18px);
          line-height: 150%;
          color: $black;
  
          @media (max-width: $mobile) {
            font-weight: 400;
            font-size: px-to-rem(16px);
          }
        }
      }
    }

    .qr-code-container {

      .qr-code {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: $beige;
        border-radius: 24px;

        padding: 44px 87.5px 47px 89.5px;

        .pix {
          margin-top: 24px;

          font-weight: 700;
          font-size: px-to-rem(18px);
          line-height: 22px;
          color: $green-dark;

          @media (max-width: $mobile) {
            margin: 0px 0px 18px 0px;
          }
        }

        @media (max-width: $mobile) {
          padding: 35px 78px;
        }
      }

      @media (max-width: $mobile) {
        margin-top: 17px;
      }
    }
  }

  #loja_virtual {
    margin: 149px 0px 86px 0px;

    @media (max-width: $mobile) {
      margin: 72px 0px 50px 0px;
    }

    .bg {
      display: block;
      position: absolute;
      margin-top: -174px;

      width: calc(#{math.div(249px, $base-width) * 100} * 1vw);
      height: calc(#{math.div(160px, $base-width) * 100} * 1vw);
      
      @media (min-width: $desktop) {
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='249' height='160' viewBox='0 0 249 160' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-57.1134 79.1422C-57.4894 79.1422 -57.8654 78.993 -58.1662 78.6947L-114.712 22.5268L-171.332 78.6947C-171.859 79.2168 -172.836 79.2168 -173.438 78.6947L-231.111 21.4825C-231.713 20.8858 -231.713 19.9907 -231.111 19.394C-230.51 18.7972 -229.607 18.7972 -229.006 19.394L-172.385 75.5618L-115.764 19.394C-115.464 19.0956 -115.088 18.9464 -114.712 18.9464C-114.336 18.9464 -113.96 19.0956 -113.659 19.394L-57.1134 75.5618L-0.868668 19.394C-0.567886 19.0956 -0.19191 18.9464 0.184067 18.9464C0.560028 18.9464 0.935989 19.0956 1.23677 19.394L57.8575 75.5618L114.478 19.394C115.005 18.8718 115.982 18.8718 116.584 19.394L173.204 75.5618L229.825 19.394C230.427 18.7972 231.329 18.7972 231.931 19.394C232.532 19.9907 232.532 20.8858 231.931 21.4825L174.257 78.6947C173.656 79.2914 172.753 79.2914 172.152 78.6947L115.531 22.5268L58.9102 78.6947C58.3839 79.2168 57.4063 79.2168 56.8048 78.6947L0.184067 22.5268L-56.0607 78.6947C-56.3615 78.993 -56.7375 79.1422 -57.1134 79.1422Z' fill='%23FF8549'/%3E%3Cpath d='M-57.1134 140.904C-57.4894 140.904 -57.8654 140.755 -58.1662 140.457L-114.712 84.289L-171.332 140.457C-171.859 140.979 -172.836 140.979 -173.438 140.457L-231.111 83.2448C-231.713 82.648 -231.713 81.7529 -231.111 81.1562C-230.51 80.5594 -229.607 80.5594 -229.006 81.1562L-172.385 137.324L-115.764 81.1562C-115.464 80.8578 -115.088 80.7086 -114.712 80.7086C-114.336 80.7086 -113.96 80.8578 -113.659 81.1562L-57.1134 137.324L-0.868668 81.1562C-0.567886 80.8578 -0.19191 80.7086 0.184067 80.7086C0.560028 80.7086 0.935989 80.8578 1.23677 81.1562L57.8575 137.324L114.478 81.1562C115.005 80.634 115.982 80.634 116.584 81.1562L173.204 137.324L229.825 81.1562C230.427 80.5594 231.329 80.5594 231.931 81.1562C232.532 81.7529 232.532 82.648 231.931 83.2448L174.257 140.457C173.656 141.054 172.753 141.054 172.152 140.457L115.531 84.289L58.9102 140.457C58.3839 140.979 57.4063 140.979 56.8048 140.457L0.184067 84.289L-56.0607 140.457C-56.3615 140.755 -56.7375 140.904 -57.1134 140.904Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");      
      }

      @media (max-width: $mobile) {
        width: 174px;
        height: 70px;
        right: 0px;
        margin-top: -55px;
        background-image: url("data:image/svg+xml,%3Csvg width='174' height='70' viewBox='0 0 174 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M87.0377 34.6247C86.8731 34.6247 86.7086 34.5595 86.577 34.4289L61.8313 9.8555L37.0527 34.4289C36.8224 34.6574 36.3946 34.6574 36.1313 34.4289L10.892 9.39862C10.6288 9.13755 10.6288 8.74594 10.892 8.48487C11.1553 8.22379 11.5502 8.22379 11.8134 8.48487L36.592 33.0583L61.3706 8.48487C61.5022 8.35433 61.6668 8.28906 61.8313 8.28906C61.9958 8.28906 62.1604 8.35433 62.292 8.48487L87.0377 33.0583L111.652 8.48487C111.783 8.35433 111.948 8.28906 112.112 8.28906C112.277 8.28906 112.441 8.35433 112.573 8.48487L137.352 33.0583L162.13 8.48487C162.361 8.25643 162.788 8.25643 163.052 8.48487L187.83 33.0583L212.609 8.48487C212.872 8.22379 213.267 8.22379 213.53 8.48487C213.793 8.74594 213.793 9.13755 213.53 9.39862L188.291 34.4289C188.028 34.69 187.633 34.69 187.37 34.4289L162.591 9.8555L137.812 34.4289C137.582 34.6574 137.154 34.6574 136.891 34.4289L112.112 9.8555L87.4984 34.4289C87.3667 34.5595 87.2022 34.6247 87.0377 34.6247Z' fill='%23FF8549'/%3E%3Cpath d='M87.0377 61.6457C86.8731 61.6457 86.7086 61.5804 86.577 61.4499L61.8313 36.8764L37.0527 61.4499C36.8224 61.6783 36.3946 61.6783 36.1313 61.4499L10.892 36.4196C10.6288 36.1585 10.6288 35.7669 10.892 35.5058C11.1553 35.2447 11.5502 35.2447 11.8134 35.5058L36.592 60.0792L61.3706 35.5058C61.5022 35.3753 61.6668 35.31 61.8313 35.31C61.9958 35.31 62.1604 35.3753 62.292 35.5058L87.0377 60.0792L111.652 35.5058C111.783 35.3753 111.948 35.31 112.112 35.31C112.277 35.31 112.441 35.3753 112.573 35.5058L137.352 60.0792L162.13 35.5058C162.361 35.2774 162.788 35.2774 163.052 35.5058L187.83 60.0792L212.609 35.5058C212.872 35.2447 213.267 35.2447 213.53 35.5058C213.793 35.7669 213.793 36.1585 213.53 36.4196L188.291 61.4499C188.028 61.7109 187.633 61.7109 187.37 61.4499L162.591 36.8764L137.812 61.4499C137.582 61.6783 137.154 61.6783 136.891 61.4499L112.112 36.8764L87.4984 61.4499C87.3667 61.5804 87.2022 61.6457 87.0377 61.6457Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      }
    }

    h2 {
      font-weight: 700;
      font-size: px-to-rem(52px);
      line-height: 63px;
      color: $green-dark;

      background: $gree-light;

      padding: 1px 13px 0px 13px;
      width: max-content;

      @media (max-width: $mobile) {
        font-size: px-to-rem(28px);
        line-height: 34px;

        background-color: $orange;

        padding: 1px 7px 0px 7px;

        margin-bottom: 18px;
      }
    }

    .title {
      width: 41%;
      max-width: 373px;

      padding-left: 80px;

      @media (max-width: $mobile) {
        width: 100%;
        padding-left: 0px;
      }

      h2 {
        margin: 0px 0px 21px 0px;
      }

      .content {
        margin-bottom: 51px;

        @media (max-width: $mobile) {
          width: 100%;
          max-width: 100%;
          margin-bottom: 9px;
        }
  
        p {
          font-weight: 400;
          font-size: px-to-rem(18px);
          line-height: 150%;
          color: $black;
  
          @media (max-width: $mobile) {
            font-weight: 400;
            font-size: px-to-rem(16px);
          }
        }
      }

      &> div {
        padding-left: 13px;

        @media (max-width: $mobile) {
          padding-left: 0px;
        }

      }
    }

    .row {
      gap: 22px;

      @media (max-width: $mobile) {
        gap: 0px;
      }
    }

    .produtos {
      display: flex;
      gap: 22px;

      margin-top: 85px;

      @media (max-width: $mobile) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 24px;

        margin-top: 47px;
      }

      a {
        height: 0px;
      }
    }
  }
}