@use 'sass:math';

.page-template-transparency-template {
  .breadcrumb {
    .bg {
      display: block;
      position: absolute;
      right: 0;
      margin-top: -133px;

      width: calc(#{math.div(402px, $base-width) * 100} * 1vw);
      height: calc(#{math.div(269px, $base-width) * 100} * 1vw);

      background-image: url("data:image/svg+xml,%3Csvg width='402' height='269' viewBox='0 0 402 269' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M201.335 263.506C149.209 263.506 100.232 243.205 63.3821 206.355C26.5321 169.505 6.16406 120.461 6.16406 68.3349C6.16406 16.2089 26.4651 -32.7681 63.3151 -69.6181C100.165 -106.468 149.209 -126.836 201.335 -126.836C253.461 -126.836 302.438 -106.535 339.288 -69.6851C376.138 -32.8351 396.439 16.1419 396.439 68.2679C396.439 120.394 376.138 169.371 339.288 206.221C302.438 243.071 253.461 263.372 201.335 263.372V263.506ZM201.335 -124.424C95.0061 -124.424 8.57606 -37.9941 8.57606 68.3349C8.57606 174.664 95.0731 261.161 201.402 261.161C307.731 261.161 394.228 174.664 394.228 68.3349C394.228 -37.9941 307.664 -124.424 201.335 -124.424Z' fill='%23FF8549'/%3E%3Cpath d='M201.335 230.81C111.756 230.81 38.8599 157.914 38.8599 68.335C38.8599 -21.244 111.756 -94.14 201.335 -94.14C290.914 -94.14 363.81 -21.244 363.81 68.335C363.81 157.914 290.914 230.81 201.335 230.81ZM201.335 -91.795C113.029 -91.795 41.2049 -19.971 41.2049 68.335C41.2049 156.641 113.029 228.465 201.335 228.465C289.641 228.465 361.465 156.641 361.465 68.335C361.465 -19.971 289.641 -91.795 201.335 -91.795Z' fill='%23FF8549'/%3E%3Cpath d='M201.335 198.114C129.779 198.114 71.5562 139.891 71.5562 68.335C71.5562 -3.22097 129.779 -61.444 201.335 -61.444C272.891 -61.444 331.114 -3.22097 331.114 68.335C331.114 139.891 272.891 198.114 201.335 198.114ZM201.335 -59.099C131.052 -59.099 73.9012 -1.94797 73.9012 68.335C73.9012 138.618 131.052 195.769 201.335 195.769C271.618 195.769 328.769 138.618 328.769 68.335C328.769 -1.94797 271.618 -59.099 201.335 -59.099Z' fill='%23FF8549'/%3E%3Cpath d='M201.335 165.418C147.802 165.418 104.252 121.868 104.252 68.3349C104.252 14.8019 147.802 -28.748 201.335 -28.748C254.868 -28.748 298.418 14.8019 298.418 68.3349C298.418 121.868 254.868 165.418 201.335 165.418ZM201.335 -26.403C149.075 -26.403 106.597 16.0749 106.597 68.3349C106.597 120.595 149.075 163.073 201.335 163.073C253.595 163.073 296.073 120.595 296.073 68.3349C296.073 16.0749 253.595 -26.403 201.335 -26.403Z' fill='%23FF8549'/%3E%3Cpath d='M201.335 132.722C165.825 132.722 136.948 103.845 136.948 68.335C136.948 32.825 165.825 3.948 201.335 3.948C236.845 3.948 265.722 32.825 265.722 68.335C265.722 103.845 236.845 132.722 201.335 132.722ZM201.335 6.293C167.098 6.293 139.293 34.165 139.293 68.335C139.293 102.505 167.165 130.377 201.335 130.377C235.505 130.377 263.377 102.505 263.377 68.335C263.377 34.165 235.505 6.293 201.335 6.293Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover;

      z-index: -1;

      @media (max-width: $mobile) {
        width: 81px;
        min-height: 147px;
        left: calc(100% - 81px);
        margin-top: -95px;

        background-image: url("data:image/svg+xml,%3Csvg width='81' height='147' viewBox='0 0 81 147' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M73.6225 144.991C54.5615 144.991 36.652 137.568 23.177 124.093C9.70203 110.618 2.25403 92.6835 2.25403 73.6225C2.25403 54.5615 9.67753 36.652 23.1525 23.177C36.6275 9.70203 54.5615 2.25403 73.6225 2.25403C92.6835 2.25403 110.593 9.67753 124.068 23.1525C137.543 36.6275 144.967 54.537 144.967 73.598C144.967 92.659 137.543 110.569 124.068 124.044C110.593 137.519 92.6835 144.942 73.6225 144.942V144.991ZM73.6225 3.13603C34.741 3.13603 3.13603 34.741 3.13603 73.6225C3.13603 112.504 34.7655 144.134 73.647 144.134C112.529 144.134 144.158 112.504 144.158 73.6225C144.158 34.741 112.504 3.13603 73.6225 3.13603Z' fill='%23FF8549'/%3E%3Cpath d='M73.6225 133.035C40.866 133.035 14.21 106.379 14.21 73.6225C14.21 40.866 40.866 14.21 73.6225 14.21C106.379 14.21 133.035 40.866 133.035 73.6225C133.035 106.379 106.379 133.035 73.6225 133.035ZM73.6225 15.0675C41.3315 15.0675 15.0675 41.3315 15.0675 73.6225C15.0675 105.913 41.3315 132.177 73.6225 132.177C105.913 132.177 132.177 105.913 132.177 73.6225C132.177 41.3315 105.913 15.0675 73.6225 15.0675Z' fill='%23FF8549'/%3E%3Cpath d='M73.6225 121.079C47.4565 121.079 26.166 99.7885 26.166 73.6225C26.166 47.4565 47.4565 26.166 73.6225 26.166C99.7885 26.166 121.079 47.4565 121.079 73.6225C121.079 99.7885 99.7885 121.079 73.6225 121.079ZM73.6225 27.0235C47.922 27.0235 27.0235 47.922 27.0235 73.6225C27.0235 99.323 47.922 120.222 73.6225 120.222C99.323 120.222 120.222 99.323 120.222 73.6225C120.222 47.922 99.323 27.0235 73.6225 27.0235Z' fill='%23FF8549'/%3E%3Cpath d='M73.6225 109.123C54.047 109.123 38.122 93.1979 38.122 73.6224C38.122 54.0469 54.047 38.1219 73.6225 38.1219C93.198 38.1219 109.123 54.0469 109.123 73.6224C109.123 93.1979 93.198 109.123 73.6225 109.123ZM73.6225 38.9794C54.5125 38.9794 38.9795 54.5124 38.9795 73.6224C38.9795 92.7324 54.5125 108.265 73.6225 108.265C92.7325 108.265 108.266 92.7324 108.266 73.6224C108.266 54.5124 92.7325 38.9794 73.6225 38.9794Z' fill='%23FF8549'/%3E%3Cpath d='M73.6225 97.167C60.6375 97.167 50.078 86.6075 50.078 73.6225C50.078 60.6375 60.6375 50.078 73.6225 50.078C86.6075 50.078 97.167 60.6375 97.167 73.6225C97.167 86.6075 86.6075 97.167 73.6225 97.167ZM73.6225 50.9355C61.103 50.9355 50.9355 61.1275 50.9355 73.6225C50.9355 86.1175 61.1275 96.3095 73.6225 96.3095C86.1175 96.3095 96.3095 86.1175 96.3095 73.6225C96.3095 61.1275 86.1175 50.9355 73.6225 50.9355Z' fill='%23FF8549'/%3E%3C/svg%3E%0A");
      }
    }
  }

  #arquivos {
    margin-bottom: 90px;

    @media (max-width: $mobile) {
      margin-bottom: 77px;
    }

    #arquivo_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 77px 30px;

      @media (max-width: $mobile) {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }

      .arquivo-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        cursor: pointer;

        .nome {
          display: flex;
          justify-content: center;

          min-height: 200px;

          background-color: #00D176;
          transition: 0.3s;

          @media (max-width: $mobile) {
            min-height: 123px;
          }

          a {
            margin-top: 23px;

            font-weight: 700;
            font-size: px-to-rem(24px);
            line-height: 150%;
            text-align: center;
            color: #024420;
            text-decoration: none;

            @media (max-width: $mobile) {
              font-size: px-to-rem(18px);
            }
          }
        }

        .download {
          display: flex;
          justify-content: center;
          align-items: center;

          margin-top: -23px;

          a {
            background: #024420;
            border-radius: 32px;

            padding: 12px 24px;

            font-weight: 700;
            font-size: px-to-rem(18px);
            line-height: 22px;
            text-align: center;
            color: #E3E6D1;
            text-decoration: none;
            text-transform: uppercase;

            cursor: pointer;
            transition: 0.3s;

            @media (max-width: $mobile) {
              font-size: px-to-rem(16px);
              line-height: 20px;
            }

            &:hover {
              background-color: #E3E6D1;
              color: #024420;
            }
          }
        }

        &:hover {
          .nome {
            background-color: #FF8549;
            color: #024420;
          }

          .download {
            a {
              background-color: #E3E6D1;
              color: #024420;
            }
          }
        }
      }
    }
  }
}