$mobile: 768px;
$desktop: 769px;
$hd: 1600px;
$base-font-size: 16px;
$max-width: 1120px;
$base-width: 1440px;

/* COLORS */
$green-dark: #024420;
$gree-light: #00D176;
$green-contrast: #008048;
$beige: #E3E6D1;
$white: #FFFF;
$black: #000000;
$orange: #FF8549;

@function px-to-rem($pixels) {
  @return calc($pixels / $base-font-size * 1rem);
}